[2019-10-22 23:03] SurferJeffAtGoogle commented on #318
@Nikratio Thank you for reporting this issue.  I apologize for the late reply.  I clicked on the link https://google-auth.readthedocs.io/en/latest/reference/google.auth.html#google.auth.default, and I don't see a discussion of a body parameter or bytes.

Is this issue still reproducible today?  Is there another doc that describes the conflict between the docs and the code?

[2019-10-22 23:26] busunkim96 commented on #318
The link may have changed since the issue was posted:

`google.auth.transport.Request` documentation says that the body should have type bytes

https://google-auth.readthedocs.io/en/latest/reference/google.auth.transport.html#google.auth.transport.Request
![image](https://user-images.githubusercontent.com/8822365/67342933-7be97c00-f4e8-11e9-8e7b-399533126e20.png)

[2019-10-26 21:15] smacpher-myst commented on #211
I'm still seeing this error fairly regularly running on GAE flex for Python 3.6 with `google-auth==1.6.3`. Here's the full stack trace:

`  File "/env/lib/python3.6/site-packages/google/auth/transport/requests.py", line 205, in request
    self._auth_request, method, url, request_headers)
  File "/env/lib/python3.6/site-packages/google/auth/credentials.py", line 122, in before_request
    self.ref

[2019-10-26 21:21] JustinBeckwith commented on #211
Greetings!  Would you mind opening a new issue?  It makes tracking these discussions much easier.

[2019-11-06 01:13] bmccutchon opened #382 "Docs: compute_engine.credentials doesn't render note for service_account_email"
On this doc item: https://google-auth.readthedocs.io/en/latest/reference/google.auth.compute_engine.credentials.html#google.auth.compute_engine.credentials.Credentials.service_account_email

The rendered docs say simply `The service account email.`

However, the [docstring](https://google-auth.readthedocs.io/en/latest/_modules/google/auth/compute_engine/credentials.html#Credentials.refresh) has mo

[2019-11-07 13:12] ramonmedeiros opened #383 "Google Auth fails to load default project when inside of Docker with exported ~/.config"
#### Environment details

  - OS: mac
  - Python version: Python 3.7.5
  - pip version: 19.3.1
  - `google-auth` version:   1.7.0

#### Steps to reproduce
1) `gcloud auth application-default login`
2) `gcloud config set project ...`
3) In your machine, run:
```import google.auth;google.auth.default()```

It will return Credentials object and the default project

4) Open a docker image, python-3.7

[2019-11-07 20:54] busunkim96 commented on #383
Hi @ramonmedeiros. Are you seeing no project get returned? Or is it some other project?

[2019-11-09 13:41] yoshi-automation opened #384 "Synthesis failed for google-auth-library-python"
Hello! Autosynth couldn't regenerate google-auth-library-python. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/92d6d891-67b9-4d44-b6f1-fb4cce29f6b8).

[2019-11-10 13:39] yoshi-automation commented on #384
Autosynth is still having trouble generating google-auth-library-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8b0845ab-eb4e-435e-b847-21e67b8620f1).

[2019-11-11 13:39] yoshi-automation commented on #384
Autosynth is still having trouble generating google-auth-library-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/396cb39a-c436-49d0-a9b5-42466a52551e).

[2019-11-11 18:27] #384 closed

[2019-11-11 19:04] #382 closed

[2019-11-11 20:24] busunkim96 commented on #382
Thanks for filing this issue @bmccutchon!

[2019-11-11 20:28] busunkim96 commented on #383
On a second read, I'm don't think this particular flow is supported for getting a default project.

Please see https://hub.docker.com/r/google/cloud-sdk/ and https://github.com/GoogleCloudPlatform/cloud-sdk-docker for authenticating inside a docker image.

Thanks!

[2019-11-11 20:28] #383 closed

[2019-11-12 22:36] taewookim opened #386 "Oauth2 refresh token expires in 1 hour - is it b/c i'm currently testing ? (i.e. unverified app)"
I followed [this tutorial](https://developers.google.com/identity/protocols/OAuth2WebServer#example) EXACTLY, however

[code]

However in this part:

[code]

The refresh token expires after an hour, with this error:

But clearly in the flask session the dict object is there:

[code]

Two questions 1) Do i need to manually "refresh" the refresh token? The comment in the tutorial says "Save credenti

[2019-11-12 23:05] busunkim96 commented on #386
Hi @taewookim. It looks like `refresh_token` is `None` in the dict object. Without a `refresh_token`, it isn't possible to refresh the credential.

This [stackoverflow post](https://stackoverflow.com/questions/10827920/not-receiving-google-oauth-refresh-token) has a good list of options for how to get the `refresh_token`.  The easiest is probably to revoke access to your application. When the appl

[2019-11-13 03:31] taewookim commented on #386
It seems not adding

`prompt="screen"`

has a different behavior, and seems to solve this issue (also [mentioned here](https://github.com/googleapis/google-api-python-client/issues/213#issuecomment-205886341)).

it's only been only an hour or so, so i will leave this issue opened for now and will update as i keep testing

[2019-11-13 17:36] taewookim commented on #386
been over 12 hrs.. so i guess that worked

closing issue

[2019-11-13 17:36] #386 closed

[2019-11-20 23:54] michaelawyu commented on #351
Thanks, @evanj!

A PR has been sent (#389).

[2019-11-25 22:21] #351 closed

[2019-11-27 23:46] failure-checker[bot] opened #394 "Warning: a recent release failed"
The release PR #380 is still in a pending state after several hours

[2019-12-04 16:48] rakeshbabuseva opened #395 "Using jwt.Credentials with discovery.build throws invalid credentials error"
I want to migrate from oauth2client to google-auth, so I am trying to access the Google Drive using JWT token but couldn't able to get the access eventhough the jwt encoding went fine, am I missing anything ?

[code]

[2019-12-05 15:23] plamut opened #396 "Add timeout parameter to AuthorizedSession.request()"
As a Google Cloud client library developer, I would like an easy way of specifying a timeout when making API calls using the `requests.AuthorizedSession` transport, for example:

[code]

**Motivation:**
Sometimes the BigQuery client gets stuck at the transport layer. Having a timeout parameter that can be passed to the transport is necessary for fixing several issue, for example: https://github.co

[2019-12-05 22:12] michaelawyu commented on #395
Hi @rakeshbabuseva,

If I understand your problem correctly, it seems to me that you are using a private key of a service account in your own project to sign the JWT while [Drive API explicitly requests that all requests to the Drive API must be authorized by an authenticated user](https://developers.google.com/drive/api/v3/about-auth#OAuth2Authorizing). In other words, you are using the RFC 7523/

[2019-12-09 23:15] uriva opened #403 "TypeError: unsupported operand type(s) for -: 'tuple' and 'float'"
[code]

Did I do something stupid or there's a bug in current version?

[2019-12-09 23:17] busunkim96 commented on #403
@uriva There's a bug! Thank you for opening an issue.

It'll be fixed in 1.8.1 (release in progress: #402). You can pin to 1.7.2 for now.

[2019-12-09 23:29] #394 closed

[2019-12-09 23:29] busunkim96 commented on #394
Fixed the label on PR #380

[2019-12-09 23:36] busunkim96 commented on #403
1.8.1 has been released. Will open a follow-up issue for investigating what happened here.

[2019-12-09 23:36] #403 closed

[2019-12-09 23:50] busunkim96 opened #404 "Timeout in AuthorizedSession causes TypeError: unsupported operand type(s) for -: 'tuple' and 'float'"
Reported in #403, but was also noticed in other logs for team tools. They were all using google-cloud-storage, although that may be a coincidence

#397 (release PR #399) was rolled back in #401 (release PR #402)

[code]

[2019-12-10 01:18] jasonjanofsky commented on #404
Saw this as well, it looks like that self._timeout doesn't come out as a float but, instead is a tuple.  Spent the last hour figuring this out.  Thanks for clearing this out @busunkim96.

[2019-12-10 07:43] ryoichitaniguchi opened #405 "AttributeError in credentials.py"
Hello,

after updating `google-auth`  package from `v1.7.2` to `v1.8.0`  error occurred from `credentials.py`

stack-trace:
[code]

Trigger is googleapiclient.http.execute():
[code]

Downgrading google-auth to previous version (or avoid to refer this attribute) , error dissapeared.

Some compatibility issue behind this?  Appreciate if someone let me know..

requirements condition
[code]

installed

[2019-12-10 10:10] maxiller commented on #405
@ryoichitaniguchi thanks for the suggestion - rolling back to google-auth==1.7.2 workarounded for me

[2019-12-10 11:30] plamut commented on #396
Reopening, as #397 caused a regression in downstream libraries and had to be [reverted](https://github.com/googleapis/google-auth-library-python/pull/401).

[2019-12-10 11:33] plamut commented on #404
Closing, as the change that introduced the bug was reverted in #401.

[2019-12-10 11:33] #404 closed

[2019-12-10 18:07] busunkim96 commented on #405
@maxiller @ryoichitaniguchi Were you using a pickled credential file?

Please do continue to use the downgraded version 1.7.2 - we will release a patch version soon with a fix. Thank you for your patience

[2019-12-10 18:29] busunkim96 commented on #405
[The Docs API quickstart](https://developers.google.com/docs/api/quickstart/python) seems to be representative of the sample style for APIs requiring user credentials. It pickles the credentials after the first run and reloads them when available.

[2019-12-10 19:12] gayhub-dev commented on #405
damn! Thought something happen to my code!

[2019-12-10 19:17] GustavoKatel commented on #405
I created a new credentials based on the old one:

[code]

Then I did pickle again to file

[2019-12-11 01:51] busunkim96 commented on #405
Hi -

If you're running into this, please do either (1) or (2).

(1) Delete your pickled credentials file. The file will be named `token.pickle` if you followed a Google quickstart. Re-run the script (code that runs the authorization flow).
(2) Pin to a previous version `google-auth==1.7.2`

[2019-12-11 11:27] maxiller commented on #405
(1) did the trick. Thanks!

[2019-12-11 11:56] vj-09 opened #408 "AttributeError: 'Credentials' object has no attribute '_quota_project_id'"

[2019-12-11 14:43] enflo commented on #408
I have an application in Python that connects to Gmail to read emails, today when making a production upload to stopped working due to the update of the package. Constantly jumps the error :

[code]

We have tried to regenerate the credentials with credential.json (result the file token.pickle) but we continue with the same error.

Any solution?

PS: we have downgraded to version 1.7.2 of the pack

[2019-12-11 18:44] busunkim96 commented on #408
Hi! This seems to be a duplicate of #405

Here's the guidance I provided in the other issue:

If you're running into this, please do either (1) or (2).

(1) Delete your pickled credentials file. The file will be named `token.pickle` if you followed a Google quickstart. Re-run the script (code that runs the authorization flow).
(2) Pin to a previous version `google-auth==1.7.2`

I am working on rol

[2019-12-11 18:51] #408 closed

[2019-12-12 00:33] #396 closed

[2019-12-12 01:31] ryoichitaniguchi commented on #405
worked with `google-auth==1.8.2` in my environment as well, thanks @busunkim96

[2019-12-12 01:36] busunkim96 commented on #405
Closing as the latest published library should work correctly with older pickled credentials files.

[2019-12-12 01:36] #405 closed

[2019-12-13 23:09] busunkim96 commented on #342
Unfrotunately it's not possible to use `AuthorizedSession` with `google-api-python-client` because google-api-python-client uses httplib2 under the hood (not requests).

You will have to supply credentials another way when using google-api-python-client. Please see the [Auth documentation](https://github.com/googleapis/google-api-python-client/blob/master/docs/auth.md) for the options available to

[2019-12-13 23:09] #342 closed

[2019-12-17 02:17] caseyduquettesc opened #414 "cachetools v4 dropped support for python 2"
`google-auth` depends on `cachetools` >=2 and <5
https://github.com/googleapis/google-auth-library-python/blob/091ed16d21ce1a909e9db08d6c73c097dbb263a5/setup.py#L22

Yesterday `cachetools` released v4, which dropped support for python 2, but the most recent version of `google-auth` appears to support python 2 still.

A clean install using `pip install google-auth` will fail because
[code]

Anyone

[2019-12-19 14:40] jonas-p opened #416 "Breaking changes for impersonated_credentials between 1.6.3 and 1.7.0+"
#### Environment details

  - OS: MacOS Mojave
  - Python version: 3.7.3
  - pip version: 19.0.3
  - `google-auth` version: 1.6.3, 1.7.0, 1.10.0

The default credentials are my user credentials (with the ServiceAccountTokenCreator role on the service account).

#### Steps to reproduce
The following code works and produces a valid access token for the service account in version 1.6.3.

[code]
After

[2019-12-20 03:06] gpoulin commented on #416
Facing the same issue. Seems to be related with the fact that `impersonated_credentials` set the source credentials scopes to `['https://www.googleapis.com/auth/iam']` which is [undocumented](https://developers.google.com/identity/protocols/googlescopes) [ref](https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/impersonated_credentials.py#L208).

A work around is to re

[2019-12-20 08:04] lgrabowski commented on #414
I can confirm that I found multiple workloads failing due to unable to finish the work (upload to gcs) or even initialize (import google-auth)

[2020-01-08 11:51] jay0lee opened #418 "Failure with Python 3.9 due to use of deprecated collections.Mapping"
#### Environment details

  - OS: Linux
  - Python version: 3.9 alpha 2
  - pip version: 19.3.1
  - `google-auth` version: 1.10.0

#### Steps to reproduce

  1. Use Python 3.9
  2. Attempt to decode an ID Token:
    google.oauth2.id_token.verify_oauth2_token()...

Expected results:
decoded ID token

Actual results:
AttributeError: module 'collections' has no attribute 'Mapping'
see full crash at:

[2020-01-09 20:34] zhengzhong commented on #316
Hi. I'd like to let you know that the issue is resolved. This library has nothing wrong. The issue was due to the fact that on Android device, I may get an expired ID token if the user has already signed in and I did not force to log him/her out. I explained the cause and posted the fix (in my Android app) here: https://stackoverflow.com/a/56742836/808898

I'll close this issue. Thanks for your he

[2020-01-09 20:34] #316 closed

[2020-01-10 01:15] busunkim96 commented on #343
@evanj Thank you for writing such a detailed issue!

It looks like `google.oauth2._client._token_endpoint_request` is retrying the request up to two times when the error message has something about an `internal_failure`.

https://github.com/googleapis/google-auth-library-python/blob/af29c1a9fd9282b38867961e4053f74f018a3815/google/oauth2/_client.py#L81-L126

I'm going to close this for now, but ple

[2020-01-10 01:15] #343 closed

[2020-01-10 21:17] #318 closed

[2020-01-14 13:12] yoshi-automation opened #422 "Synthesis failed for google-auth-library-python"
Hello! Autosynth couldn't regenerate google-auth-library-python. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/264076a6-41d9-4ca2-9fc2-c9d0a8a92def).

[2020-01-15 13:24] yoshi-automation commented on #422
Autosynth passed, closing! :green_heart:

[2020-01-15 13:24] #422 closed

[2020-01-16 15:56] plamut opened #423 "Make a clear distinction between the transport timeout and the total method time timeout"
It turned out that the concern from #406 was valid, unfortunately:

The changed semantics of `timeout` caused an [issue](https://github.com/googleapis/google-cloud-python/issues/10137) in the `storage` library. A user reported that if a large file upload takes, say, minutes _and succeeds_, a ``Timeout`` error is still raised, because the total execution time takes more than ~60 seconds, which the

[2020-01-17 19:18] #418 closed

[2020-01-21 20:46] busunkim96 opened #427 "Add test for failed import failure rather than ignoring for coverage"
See https://github.com/googleapis/google-auth-library-python/pull/426#discussion_r368214783 for details

[2020-01-22 02:02] failure-checker[bot] opened #428 "Warning: a recent release failed"
The release PR #425 is still in a pending state after several hours

[2020-01-22 16:10] busunkim96 commented on #428
Release job triggered manually.

[2020-01-22 16:10] #428 closed

[2020-01-22 19:07] #423 closed

[2020-01-22 23:42] JustinBeckwith opened #431 "Migrate docs to googleapis.dev"
I noticed this repository is still sitting on readthedocs.  We need to move this over to googleapis.dev to be consistent with the rest of the libraries we publish.

[2020-01-22 23:43] busunkim96 commented on #431
The docs have been publishing to both places for a few versions now: https://googleapis.dev/python/google-auth/latest/index.html. The work remaining is to get the readthedocs docs to redirect to googleapis.dev.

[2020-01-23 02:47] michaelawyu commented on #395
Hi @rakeshbabuseva !

I am now closing this issue due to its inactivity. Please feel free to reopen it if your problem persists.

michaelawyu

[2020-01-23 02:47] #395 closed

[2020-01-23 11:03] plamut opened #434 "Set the default request timeout to something other than `None`"
The [AuthorizedSession.requests()](https://github.com/googleapis/google-auth-library-python/blob/1b9de8dfbe4523f3170e47985ab523cb7865de48/google/auth/transport/requests.py#L242-L251) method does not specify a default timeout.

Since production code would almost always want to have some sort of a timeout, let's add one. The libraries that rely on `google-auth`, but do (yet) not specify a timeout th

[2020-01-23 19:29] busunkim96 commented on #339
I'd like to go through and check in the other languages before taking the change:

* NodeJS
* Ruby
* PHP
* C#
* C++ (? unsure if they have a separate auth library)

[2020-01-23 22:44] #434 closed

[2020-01-27 21:42] erickertz opened #436 "TransportError: ('Connection aborted.', BadStatusLine("''",))"
#### Environment details

  - OS: Alpine3.9
  - Python version: 2.7.15 (sorry)
  - pip version: 19.0.3
  - `google-auth` version: 1.11.0
  - `google-cloud-pubsub` version: 0.33.1

#### Steps to reproduce

I want to apologize for being on such old versions of Python and google-cloud-pubsu libs. I am working on updating both but will be behind for a little while.

  1. I only see this error when sen

[2020-01-27 21:57] busunkim96 commented on #436
Do you see the errors listed in console.cloud.google.com?

Are you also sending concurrent requests as in #246? Any bits of code you can provide would be helpful. :)

CC @anguillanneuf @plamut in case they've seen anything similar.

[2020-01-27 22:01] erickertz commented on #436
I actually didn't realize that google-auth was updated to 1.11.0, just updated my original ticket.

[2020-01-27 22:12] erickertz commented on #436
@busunkim96 yes, there is a high level of concurrency in the application. It is a Celery application with many workers that is constantly pulling messages from AWS and then publishing to PubSub. I will take a look at the cloud console and report back.

Here is some code we have in a wrapper class where the PublisherClient is instantiated:

[code]

This class is then injected into several other han

[2020-01-28 01:20] erickertz commented on #436
@busunkim96 I guess my biggest concern is that I'm unsure if these errors are preventing the messages to get to PubSub. Is there retry logic when this occurs, or do they overall not have any effect on the PubSub client?

I'm also not seeing out of the ordinary in the cloud console. Thanks again for your help.

[2020-01-28 07:13] plamut commented on #436
Speaking of PubSub - this is the first time I see such error, cannot say what causes it from the top of my head.

BTW, is there a reason for not using one of the more recent version of the PubSub client? Version 0.33.1 is almost two years old now, and a lot has been fixed in the meantime (at the time of writing the latest release still supports Python 2.7). Though this issue does seem to be caused

[2020-01-28 14:10] erickertz commented on #436
@plamut There is no particular reason for the old pubsub version. This application has been around for some time and it simply hasn't been updated. I'm going to update to latest soon and will post back, though as you said, this does seem to be caused by something else. Thanks.

[2020-01-28 17:57] busunkim96 commented on #414
cachetools 4.0.0 has an explicit `python_requires` in the [setup.cfg](https://github.com/tkem/cachetools/blob/master/setup.cfg#L27), so you should get the highest compatible version. `python_requires` was added more recently, so you may need to upgrade your pip and python_requires if you haven't recently.

Would someone on this thread mind trying the upgrade and letting me know if that resolves th

[2020-01-28 18:47] plamut commented on #436
@erickertz Just a thought - is the client instance, by an chance, shared between multiple threads?

Asking because the client's underlying gRPC transport is not thread-safe and weird things can happen if multiple threads use it at the same time.

[2020-01-28 22:22] erickertz commented on #436
@plamut yes, this is being used by a Celery application that has multiple workers and threads.

[2020-01-29 07:15] plamut commented on #436
@erickertz In that case it would be best to create a client instance in each worker, and not share the instances between threads, at least not without any synchronization. Please let us know if that solves the problem.

[2020-01-30 04:53] JustinBeckwith commented on #359
@busunkim96 & @bshaffer - could I trouble y'all to team up on this one?

[2020-01-31 22:39] tylervick commented on #416
Thanks @gpoulin - I confirmed the workaround as well.

Seeing the exact same issue - macOS impersonated creds scopes break on google-auth>1.6.3

[2020-02-13 21:54] busunkim96 opened #442 "Nox sessions failing with no pip found"
System tests mysteriously failed on #438  and #440. The same four sessions failed with message that they were unable to find pip in the virtualenv created by nox.

[code]

[code]

The only things the failing sessions seem to have in common is that they have very long session names. Otherwise the setup is similar to the other sessions (`configure_cloud_sdk`, python versions).

This may have the sam

[2020-02-13 22:22] busunkim96 commented on #359
Closed by #438

[2020-02-13 22:22] #359 closed

[2020-02-14 03:37] sidoh opened #443 "New _GOOGLE_OAUTH2_CERTS_URL incompatible with certificate resolution code in google/auth/jwt.py"
#### Steps to reproduce

  1. Try to resolve any valid id_token with `certs_url='https://www.googleapis.com/oauth2/v3/certs'` --
[code]

Using the old certs URL works:

[code]

It appears that the issue is here:

https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/jwt.py#L222

[code]

where it is expecting the structure of the old cert payload:

[code]

vs

[code]

Loo

[2020-02-14 07:45] Samin100 commented on #443
Thanks, this issue saved me a lot of trouble. I wasn't able to log into my application and was getting the same error you were getting.

I solved it by reverting to an older version of the package: `google-auth==1.6.3`.

[2020-02-14 15:50] jay0lee commented on #443
+1 - started seeing above crash this morning with CI builds. Forcing 1.11.0 pip requirements resolved them immediately:

    google-auth==1.11.0

[2020-02-14 16:58] danking opened #445 "1.11.1 released a backwards incompatible breaking change in a patch version"
- [x] Search the issues already opened: https://github.com/googleapis/google-auth-library-python/issues

The bug is reported in #443. I'm opening this ticket to specifically request a discussion about how to avoid breaking changes in a patch version. The PR that introduced the change is #365. The release of that change as 1.11.1 was PR #437 . It looks like there needs to be a test that a valid tok

[2020-02-14 17:27] busunkim96 commented on #445
@danking Yes, it looks like we need a system test against the live endpoint.

I made two bad assumptions here, that the `v1` and `v3` endpoints returned the same payload, and that the codebase already had a test for it. I'll use this issue to track the addition of the test.

Thanks for filing an issue!

[2020-02-14 17:35] danking commented on #445
Thanks @busunkim96 !

[2020-02-14 17:49] busunkim96 commented on #443
Hi folks, sorry about this

#444 has reverted this change. and the next release 1.11.2 (#446) will have the previous _GOOGLE_OAUTH2_CERTS_URL. There is discussion in #445 on adding system tests to use the live endpoint.

[2020-02-14 17:49] #443 closed

[2020-02-15 14:44] miaojun1023 commented on #192
downgraded google-cloud-core to 0.24.1 works for me, but don't know why

[2020-02-18 06:34] luanya01 opened #447 "upgrade google-auth 1.6.3 to 1.11.2 has problem"
- OS: Win10
  - Python version: 3.6.3 64bits
  - pip version: 20.0.2
  - `google-auth` version: 1.6.3 upgrade to 1.11.2

Here is my sample code:
[code]
doing great when google-auth version is 1.6.3 , but when I upgrade to 1.11.2 has exception
at `result = service.users().messages().list(userId='me',q='from:xxx@xxx.com.tw').execute()`:
[code]

[2020-02-27 13:24] patriknordlen commented on #416
Adding some more context to this, the scope was always there but scopes were not actually requested until this change was made:
https://github.com/googleapis/google-auth-library-python/commit/49a18c43a5b39615bad90d23ab33a105fb656a6a?diff=split#diff-1b020acb6247d690d2ca64fcb04c8f53R241-R242

[2020-03-03 19:14] busunkim96 commented on #447
I think the issue is that you are providing scopes as a single string instead of a list of strings. Can you try this instead?

[code]

See a longer example https://google-auth-oauthlib.readthedocs.io/en/latest/reference/google_auth_oauthlib.flow.html#google_auth_oauthlib.flow.InstalledAppFlow.

It may also be nice to try deleting `token.pickle` before re-running the script.

[2020-03-04 00:21] busunkim96 commented on #416
Thank you all for the investigation and details you've provided.

The general Google Cloud docs for impersonated credentials live [here](https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials).

These docs state that `auth/iam/` scope and the `auth/cloud-platform/` scopes are valid. It doesn't go into detail as to if there's a difference between the two.

        * http

[2020-03-04 02:16] busunkim96 commented on #416
Alright, so I think I've figured out the root cause. Impersonated credentials modify the scope of the source credential. This follows the guide  [here](https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials#sa-credentials-oauth).

https://github.com/googleapis/google-auth-library-python/blob/31299e231912fe3c7a0e43dd3677c9f9391471c5/google/auth/impersonated_credentials.p

[2020-03-04 03:45] 808sAndBR commented on #253
It will also worked for me by instead read the json in as a string instead of reading it in as actual json.

ex:
[code]

[2020-03-09 14:29] ramonmedeiros opened #454 "google-cloud-logging==1.14.0 + google-auth==1.11.2 raise an Exception"
#### Environment details

  - OS: `python:3.8-alpine`
  - Python version: `python:3.8`
  - pip version: `19.3.1`
  - `google-auth` version: `google-auth==1.11.2`

#### Steps to reproduce

  1. With the following packages, send some logs to Stackdriver
  2. After script finishes, following message is displayed
[code]

[2020-03-09 20:19] BenRKarl opened #455 "Memory Leak Introduced in 1.7.2"
Bug discovered via google-ads-python, [original Issue here](https://github.com/googleads/google-ads-python/issues/239).

## Environment details

  - OS: Ubuntu 18.04 and also my gLinux desktop.
  - Python version: 3.7.0
  - pip version: 10.0.1
  - `google-auth` version: 1.7.2+

#### Steps to reproduce

Not exactly sure since this is exposed in google-ads-python via requests that require user crede

[2020-03-09 22:04] KevinTydlacka opened #456 "AdSense/googleapiclient Installed App Oauth2 Client Sample Update"
The [AdSense Management API python samples](https://github.com/googleads/googleads-adsense-examples) need to be updated to reflect the switch to `google-auth` from the deprecated `oath2client`...as well as to support python 3 in general. They rely on `apiclient/googleapiclient` `sample_tools.init()` which hasn't been updated to use `google-auth`.

One or two closed issues in `google-api-python-cli

[2020-03-09 22:54] busunkim96 commented on #456
@KevinTydlacka Thanks for filing an issue!

@benrkarl would you know of someone in Ads to redirect this to?

[2020-03-09 22:55] busunkim96 commented on #454
@ramonmedeiros Are you experiencing this error after upgrading google-auth? Or were you experiencing this previously?

The error message looks related to the issue reported #455. It may be worth downgrading to 1.7.1.

[2020-03-10 13:25] BenRKarl commented on #456
@KevinTydlacka I see you already posted an issue on the AdSense library, which is definitely the correct place. I'll link this issue there for context and this one can be closed.

[2020-03-10 16:11] #456 closed

[2020-03-10 21:17] busunkim96 commented on #455
@lidizheng Could you provide guidance on the best way to implement gRPC's `AuthMetadataPlugin.__call__`?  I think this library's [implementation](https://github.com/googleapis/google-auth-library-python/blob/0c33e9c0fe4f87fa46c8f1a5afe725a467ac5fcc/google/auth/transport/grpc.py#L35-L91) (using threadpools) was modeled closely on [grpc/_auth.py](https://github.com/grpc/grpc/blob/c683d803306ec3b64bb

[2020-03-10 21:35] lidizheng commented on #455
Okay. This is a bit awkward.

The code has been out for 3 years, I guess we need to improve its design. I might get back with a PR or a CL? Which one is preferred?

[2020-03-10 21:40] busunkim96 commented on #455
Thanks for the quick response!  A PR would be preferred. I'm also happy to tweak this myself if you can point me in the right direction.

To be completely honest, I have not worked with threading/threadpool, so I was wondering if there was some obvious way to correct this that I was missing. 😅

[2020-03-10 21:55] lidizheng commented on #455
I have a workaround solution that instead of creating a large number of `ThreadPoolExecutor`s, we can have a global one. Like:
[code]

`ThreadPoolExecutor` is slow and buggy. The thread spawned by it is not daemon thread, but thread with special tags that got clean-up by a registered shutdown handler on interpreter exit. It has caused random hang on exit in gRPC Python.

[2020-03-13 20:21] #416 closed

[2020-03-13 20:51] busunkim96 commented on #447
Closing due to lack of activity, feel free to open a new issue if you are still experiencing this.

[2020-03-13 20:51] #447 closed

[2020-03-16 11:41] qo4on opened #458 "service_account returns an error"
I got `service.json` from service account credentials console.developers.google.com. But it doesn't work:
[code]

[2020-03-16 13:28] #458 closed

[2020-03-19 23:27] #455 closed

[2020-03-20 09:45] nikoloutsa opened #464 "Credentials target_audience"
Hello I am trying to authenticate with the `Credentials` class and a `service_account` file.
and a proxy for the google oauth token endpoint.
So by setting the `token_uri` in the `service_account` file

[code]
after authenticating
[code]
I get an JWT grant error **_“Invalid JWT: Failed audience check.”_**

By inspecting the auth library the JWT "aud" is set to the token_uri,

https://github.com/go

[2020-03-23 23:04] jamestwebber opened #466 "pip isn't finding google-auth on pypi?"
This seems like a trivial problem but when trying to run `python setup.py install` on a project that includes `google-auth` and some dependencies, it appears that pip is unable to find `google-auth` on pypi:

#### Environment details

  - OS: OS X
  - Python version: 3.7 in a conda environment
  - pip version: 20.0.2
  - `google-auth` version: 1.11.3, I wish

#### Steps to reproduce

  1. Create a

[2020-03-24 17:02] busunkim96 commented on #464
Hi @nikoloutsa,

Could you let us know what you're looking to accomplish by overriding the default token URI?

If you need to use a `token_uri` different from the one specified in the file you can construct the Credential manually using the [constructor](https://github.com/googleapis/google-auth-library-python/blob/37141e4dffc2ba3f3f57c5914544fb8b9cf7d017/google/oauth2/service_account.py#L117-L125

[2020-03-24 19:58] busunkim96 commented on #466
Hmm, that's interesting. I wonder if using conda has any impact on this. Are you able to install `google-auth` normally on the command line?

[2020-03-24 20:04] jamestwebber commented on #466
If I make a new env and `pip install` those three packages it seemed to work. My resolution for this was to add a bunch of dependencies and pin all the versions, which was certainly overkill but at least fixed my problem for now.

[2020-03-25 19:57] busunkim96 opened #470 "System tests should delete old AppEngine Versions"
There is a limit of 210 AppEngine versions.

Tests should ideally delete the version they've deployed so we don't need to manually clear versions.

[2020-03-26 11:10] AAverin opened #471 "ImportError: No module named 'requests.packages'"
After update to latest version we get
[code]
Were there any changes made to the dependencies of the library?

These is our setup:
[code]

[2020-03-26 16:10] hilts-vaughan opened #472 "Improve debug logging about the path that the authentication library is taking"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**

  When debugging what went wrong with the authenticatio

[2020-03-26 20:40] busunkim96 commented on #471
@AAverin Would you mind doing a pip freeze so we can see version #s for other dependencies?

@arithmetic1728 Is there an additional package that needs to be installed for the SSL support?

[2020-03-26 20:57] busunkim96 commented on #472
Hi @hilts-vaughan that sounds great! Please tag me once you've opened a PR.

[2020-03-26 21:17] arithmetic1728 commented on #471
@AAverin what is the version of your `requests` library? I tried python3.4 on my machine, it worked fine.

[code]

[2020-03-26 21:27] hilts-vaughan commented on #472
I opened two:

https://github.com/googleapis/google-auth-library-python/pull/474
https://github.com/googleapis/google-auth-library-python/pull/473

I tried to orchestrate the paths that I found would have been most valuables in some of the customer issues I had been debugging lately.

[2020-03-26 21:28] AAverin commented on #471
I can try checking, but because this was on CI and it was important to fix fast, I just rolled back to 1.11.3 and it resolved the issue

@arithmetic1728 Because I don't force specific versions, I would assume that latest version of `requests` library is being installed

[2020-03-26 21:36] arithmetic1728 commented on #471
@AAverin hmm... I am not sure what causes the problem. I tried python 3.4, 3.6, 3.7, none of them have problems on my machine. I think I will just change the lib to import ssl only when needed then.

@busunkim96 I created a PR to import ssl from `requests` only when needed. Please take a look. Thanks.

[2020-03-26 22:42] busunkim96 commented on #471
I'm also unable to reproduce this on my machine in a clean virtualenv.

Could you check which version of requests and urllib3 is being installed? `requests.packages` has been around [for a few years](https://github.com/psf/requests/blob/master/requests/packages.py). See https://github.com/psf/requests/issues/4071

This is unrelated to the issue, but we strongly recommend you upgrade to the separat

[2020-03-27 07:01] AAverin commented on #471
I was also unable to reproduce it on my macos, but travis CI failes.
I can add some debug commands to my CI script to debug.
I will do `python -m pip freeze` today, anything else that could help find the problem?

From what I have found, the only thing that changed was release of 1.12.0 on 25 of March and our CI started failing with that error.

[2020-03-27 10:13] AAverin commented on #471
[code]

[code]

[2020-03-27 10:49] AAverin commented on #471
So because both python and python3, and pip and pip3 are installed on the server, I should probably somehow give you guys log for python3, because pip3 is what is used to run everything and then script later is also ran with python3

[2020-03-27 10:58] AAverin commented on #471
Looks like not that straighforward.
`python3 is already the newest version (3.4.0-0ubuntu2).`

For some reason freeze fails requiring pytnon3.5
[code]

I am not at all into python so if you need more info from me could use your guidance

[2020-03-29 14:58] nikoloutsa commented on #464
Hi so my problem is not how to set the `token_uri` variable, but how to achieve the authentication via a proxy endpoint.
So following the test code [here](https://github.com/googleapis/google-auth-library-python/blob/37141e4dffc2ba3f3f57c5914544fb8b9cf7d017/tests/oauth2/test_service_account.py#L47):
i get the JWT grant error because of the required claims in the JWT claim

and not using the custom

[2020-03-30 16:46] busunkim96 commented on #464
Ah I see. You're correct, there is no way to make the `token_uri` in the payload different from the one provided in the service account file.

Is there a technical reason preventing you from allowing the auth request to be made directly to the Google OAuth2 endpoint?

[2020-03-30 20:46] simtel12 opened #478 "Samples for the Android Play Publisher API use oauth2client"
Just wanted to drop a line that the service account samples for the Android Play Publisher API are still using oauth2client:

https://github.com/googlesamples/android-play-publisher-api/blob/master/v2/python/basic_list_apks_service_account.py
and
https://github.com/googlesamples/android-play-publisher-api/blob/master/v3/python/basic_list_apks_service_account.py

I don't think it's too difficult to

[2020-03-31 12:44] nikoloutsa commented on #464
actually yes, i have deployed my code on a node that has no internet access, but I can send requests via a proxy as I said (https://example.com/oauth2/token) that would forward the requests to "https://oauth2.googleapis.com/token"

[2020-03-31 16:35] busunkim96 commented on #478
Thanks for the report @simtel12! Unfortunately we still have a lot of samples that use oauth2client, but we plan to convert them all to google-auth eventually.

[2020-03-31 20:12] danxmoran opened #479 "Invalid type for expiry when using GCE metadata server"
#### Environment details

  - OS: Linux
  - Python version: 3.8.2
  - pip version: 20.0.2
  - `google-auth` version: 1.12.0

#### Steps to reproduce

  1. Create an ID token using the GCE metadata server:
[code]
  2. Try to use the credentials to authorize a request:
[code]

This results in an error:
[code]

I think the issue is on [this line](https://github.com/googleapis/google-auth-library-pyth

[2020-04-01 17:11] #157 closed

[2020-04-01 17:11] #336 closed

[2020-04-01 19:11] mik-laj commented on #478
@busunkim96 Where can I find a ticket to follow these plans?

[2020-04-01 22:57] arithmetic1728 commented on #479
@danxmoran Thank you for reporting this bug. I created a PR to fix it.

[2020-04-01 23:29] #479 closed

[2020-04-01 23:39] busunkim96 commented on #478
@mik-laj There is no open ticket right now, but I'll link one once it exists.

[2020-04-01 23:40] busunkim96 commented on #478
@simtel12 On a closer look it looks like these particular samples for Android Play Publisher *do* have a clear owner, so I'll reach out to them about updating their samples.

[2020-04-02 00:01] failure-checker[bot] opened #483 "Warning: a recent release failed"
The release PR #477 is still in a pending state after several hours

[2020-04-02 13:39] danxmoran commented on #479
Thanks @arithmetic1728, @busunkim96. I see that a release of 1.13.1 has already merged with the fix. How long does it usually take for releases to hit PyPI after the release PR merges here?

[2020-04-02 17:40] arithmetic1728 commented on #479
@danxmoran 1.13.1 is now on PyPI.

[2020-04-02 19:51] busunkim96 commented on #478
Passed this along to a developer who currently works on Android Play Publisher. Internal issue 153055037.

If you find more samples, feel free to file an issue here (or on google-api-python-client) and we'll continue to clean them. Thanks!

[2020-04-02 19:51] #478 closed

[2020-04-15 13:27] Yajan opened #489 "How to convert credentials to json"
I am trying to store google.oauth2.credentials to json. How can it be done?

I get error as
`'Credentials' object has no attribute 'to_json'`

[2020-04-15 16:34] busunkim96 commented on #489
What version of the library are you using? That feature has been available since [1.8.0](https://github.com/googleapis/google-auth-library-python/releases/tag/v1.8.0).

[2020-04-21 13:36] erickertz commented on #436
@plamut looping back around to this old ticket. I ended up switching the Celery execution pools to prefork from gevent and the problem stopped. I guess the auth lib didn't play nicely with the green threads.

[2020-04-21 13:50] plamut commented on #436
@erickertz Thanks for the update! It's good that you found a way around the issue.

@busunkim96 While it would be nice to come to the bottom of this, it appears to be deployment-specific and thus hard to reproduce on our side. Do we want to close this, or keep it open, nevertheless?

[2020-04-21 15:00] erickertz commented on #436
For what its worth, I'll bet if you wrote up a script that fired up a bunch of threads and shared the same Auth client you could reproduce. My issue in particular was using the PubSub client and under a decent amount of volume sending messages to PubSub I saw the underlying Auth Error. Let me know if I can help any further. Thanks again.

[2020-04-21 22:03] busunkim96 commented on #436
@plamut Closing this for now, but we can revisit it in a future issue if it's impacting a lot of people.

[2020-04-21 22:03] #436 closed

[2020-04-26 14:25] Yajan commented on #489
I am sorry. I did not find it in document.

[2020-04-26 14:25] #489 closed

[2020-04-27 07:04] maroux commented on #338
I believe this works now except for this bug on Python3:
[code]

The fix, of course, is to decode the bytes returned by `base64.b64encode`:
[code]

[2020-04-29 04:10] jnewbigin opened #492 "Forcing the version of setuptools is unsafe"
`pip-compile` tells me `Forcing the version of setuptools is unsafe`

which is done here:

https://github.com/googleapis/google-auth-library-python/blob/ac74905330a1fdd0663bbe1d6ee8dca7e66f180f/setup.py#L25

My distro provided python 3.6.9 comes with setuptools 36.5.0. As I understand, the setuptools version is matched to your python install and should not be upgraded with pip.

When I have a pack

[2020-04-29 16:43] busunkim96 commented on #492
Hi @jnewbigin,

It looks like we require that minimum version for the library to function properly. See https://github.com/googleapis/google-auth-library-python/pull/322

Do you have more background on why it is unsafe to upgrade setuptools? I wasn't able to find anything about it from a quick search.

[Tthis PyPA tutorial](https://packaging.python.org/guides/dropping-older-python-versions/#downlo

[2020-04-29 17:35] busunkim96 commented on #492
More reading:
* https://github.com/pypa/pip/issues/6459
* https://github.com/jazzband/pip-tools/issues/806
* https://stackoverflow.com/questions/58843905/what-is-the-proper-way-to-decide-whether-to-allow-unsafe-package-versions-in-pip/58864335#58864335

It looks like this warning is likely to be removed in the future

[2020-04-30 06:31] jnewbigin commented on #492
Thanks for looking into this!
So it looks like the approach for now is that I should use `--allow-unsafe` with `pip-compile`. And if that flag is deprecated in the future, presumably it will issue a warning that the flag is no longer required.
In summary, versioning setuptools is required and it is actually safe.

John.

[2020-04-30 06:31] #492 closed

[2020-05-04 16:39] adelevie opened #494 "Credentials to_json method could have clearer documentation and API"
**Is your feature request related to a problem? Please describe.**

I need to serialize the `Credentials` data as JSON, and I just discovered the `to_json` method. It's very helpful, as the pickle-related techniques in the quickstart (e.g. https://developers.google.com/docs/api/quickstart/python) rely on the file system and binary data, which means the token cannot be persisted in an environment v

[2020-05-04 18:00] alvyjudy commented on #494
The ``from_authorized_user_file`` seems to provide that functionality. It reads a json file and returns a credential instance by calling ``from_authorized_user_info``:

[code]

I agree that the documentation should be clearer, though

[2020-05-04 18:16] adelevie commented on #494
Thanks for the quick note, @alvyjudy.

I think that would help. Maybe also point to  `from_authorized_user_info`. I haven't checked, but does `from_authorized_user_file` handle the setting of the `creds.token` param? On the other hand, if those class methods truly aren't supposed to set the `token` param, then it might be bug if `Credentials.valid` requires the presence of the `token` to return `T

[2020-05-04 19:28] alvyjudy commented on #494
Hi @adelevie, tbh I'm not an expert either. But token is not necessary in the construction of ``Credential`` instance from the json file. It is the refresh token that is necessary.  As a result, the freshly constructed instance is invalid and ``refresh()`` method must be called to provide the ``credential.token`` parameter.

[code]
(I didn't test this but it is my understanding. Hope it isn't wron

[2020-05-05 12:20] mr-bjerre opened #497 "Not able to determine the default project id"
If I run the following command in a terminal

[code]

then I get the following (sample)

[code]
but the following python script does fails unfortunately

[code]

I did some debugging and realized that the error is happening [here](https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/_cloud_sdk.py#L103) (i.e. the `check_output` call fails)

[code]

#### Environment detai

[2020-05-05 12:33] mr-bjerre commented on #497
I just realized that this only happens if I run in a pycharm console

[2020-05-05 12:33] #497 closed

[2020-05-05 19:37] anguillanneuf opened #499 "Make `verify_oauth2_token` check the issuer claim"
It [doesn't](https://github.com/googleapis/google-auth-library-python/search?q=%22accounts.google.com%22&unscoped_q=%22accounts.google.com%22) look like the Python library checks for the issuer claim as it does for other language libraries ([Node.js](https://github.com/googleapis/google-auth-library-nodejs/blob/07955406e85f07fb60821192253205b9f4137ab9/src/auth/oauth2client.ts#L513-L516)).

It woul

[2020-05-06 03:44] busunkim96 opened #501 "`from_authorized_user_file` always returns invalid credentials"
`from_user_info` currently always sets the token to None. So a credential created from a JSON is always invalid and must be refreshed.

[code]

 https://github.com/googleapis/google-auth-library-python/blob/772dac6a6512230d32cb0dfae65a1a6aa9015049/google/oauth2/credentials.py#L235-L244

If a token is available, `from_user_info` should use it. `info.get('token', None)`

[2020-05-06 22:03] alvyjudy commented on #501
I wonder if this was intentional because the access token is usually set to expire within a short period of time? It is likely expired in this context if it were spun up again from a JSON file.

[2020-05-06 22:11] busunkim96 commented on #501
@alvyjudy I believe the token is valid for ~1 hour. If the token is expired the refresh logic should kick in, so I don't it's harmful to use `token` from the JSON.

https://github.com/googleapis/google-auth-library-python/blob/772dac6a6512230d32cb0dfae65a1a6aa9015049/google/auth/credentials.py#L69-L76

https://github.com/googleapis/google-auth-library-python/blob/772dac6a6512230d32cb0dfae65a1a6aa9

[2020-05-07 20:19] alvyjudy commented on #501
@busunkim96 I feel the way ``self.expired`` and ``self.valid`` work wouldn't allow us to just pass in the token to ``from_authorized_user_info``

https://github.com/googleapis/google-auth-library-python/blob/772dac6a6512230d32cb0dfae65a1a6aa9015049/google/auth/credentials.py#L53-L67

Since ``self.expiry`` won't be set when a credential is freshly constructed, ``self.expired`` will always return Fa

[2020-05-07 20:20] alvyjudy commented on #501
A simpler fix would be just to add a line of code to refresh the credential before returning it. I can open a PR if that's desired

[2020-05-08 06:08] wescpy commented on #501
I feel that will change our "contract" with the developer. When there's a valid access token stored, users will expect no refresh until after the 3600s have passed for it. It'd be better if we take that access token verbatim and ensure all the flags are set appropriately for however much longer that token's TTL is good for.

[2020-05-09 14:30] alvyjudy commented on #501
@wescpy I agree with what you said. It's just that currently ``to_json`` method would strip away the expiry information making it hard to keep track of the TTL. Would it be a better idea  to pickle that information in ``to_json`` and parse it too when picking up the token in ``from_authorized_user_info``?

[2020-05-11 10:46] NehaThakur16 commented on #343
I am facing same issue :
C:\Users\nehatha\AppData\Local\Programs\Python\Python38\python.exe C:/Users/nehatha/PycharmProjects/validateemail/validateGmail.py
Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=72415299456-34v8p99iic9bsu4t4eqi3ju82moidjeo.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3974%2F&sc

[2020-05-11 18:32] wescpy commented on #501
That sounds much better. Was there a particular reason why it (`expiry`) wasn't included when 1st implemented (to better understand the design decision at the time... wasn't a tz issue was it)?

[2020-05-12 02:54] busunkim96 commented on #501
@wescpy I don't think so. I believe it was modeled closely after oauth2client, so we might have to take another look there to see if there was a reason for exclusion.

[2020-05-12 19:01] wescpy commented on #501
SG. (Of course) `oauth2client` didn't have any issues w/being able to process both active access tokens or run the refresh process if needed. Since it managed the tokens and everyone used that code, it was probably fairly "hardened" (hence why I think at some point in the future, we should also add that feature to this library or `google_auth_oauthlib` [as well as the client libs for the other lan

[2020-05-13 20:45] sid-dinesh94 opened #512 "Make `_target_principal` attribute of ImpersonatedCredentials public."
It would be great if `_target_principal` in `ImpersonatedCredentials` is a public attribute.

We find this useful in extracting the account email associated with the caller. The email is useful to verify that the correct account is being impersonated, and also is useful to go on and create a Service Account Key for the same service account that is being impersonated.

This Service Account Key can

[2020-05-13 20:50] #512 closed

[2020-05-15 21:52] #338 closed

[2020-05-15 21:54] #483 closed

[2020-05-18 21:02] failure-checker[bot] opened #513 "Warning: a recent release failed"
The release PR #510 is still in a pending state after several hours

[2020-05-20 21:30] boxysean commented on #321
I am also looking for async/await functionality from Google's python client libraries for use in a web server built on Tornado.

[2020-05-21 02:51] stalkerg commented on #321
@Lawouach 2020 is here, do you have any news about async/await?

[2020-05-28 03:06] frankV commented on #328
There are many sound reasons to keep the `credentials.json` file secure and use alternative methods for getting that info into the `Credentials` object. Better secrets management, OpsSec, etc.

If you need a better way, try the method below by replacing the call to secrets with your own flavor (a call to an `env var` maybe?)

[code]

One downside is having to pass this instance of `Credentials` ar

[2020-05-29 07:42] RakibCSE commented on #192
Issue solved after downgrading to google-cloud 0.30.0

[2020-06-02 05:11] busunkim96 opened #520 "Don't warn about user credentials if quota_project_id is set"

[2020-06-02 09:09] AAverin commented on #471
Closing as it seems that upgrading requests is the right solution

[2020-06-02 09:09] #471 closed

[2020-06-03 11:35] kamyar commented on #321
Is there any development on this front?
Also can you please reopen this issue as it is mentioned as a blocker for https://github.com/firebase/firebase-admin-python/issues/104 ?
To be honest we have been using firestore and lack of async is a very big downside of firestore.
If async supported is not planned for google services, It would be nice if we know beforehand so we can plan our migration to

[2020-06-03 11:38] Lawouach commented on #321
@stalkerg nope.

To be fair I've moved to [Authlib](https://docs.authlib.org/en/latest/) for OAuth specifically. It doesn't help with other google libraries based on this one but I have no visibility on what Google does sadly :p

[2020-06-04 17:14] #339 closed

[2020-06-08 22:16] pdondapati commented on #190
I am getting the same exception using Airflow version 1.10.3-composer. I have installed these python packages google-auth google-auth-oauthlib google-auth-httplib2 as suggested, but the issue is not resolved, please suggest on how to resolve this issue.

These are the all the versions I am using in this environment ,
google-api-core               1.16.0
google-api-python-client      1.7.8
google-a

[2020-06-12 12:03] Bardo-Konrad opened #531 "TypeError: 'int' object is not iterable"
I am trying to install the google-api-python-client using `pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib`. This is what I got:

[code]

#### Environment details

  - OS: Raspian Jessie
  - Python version: 2.7
  - pip version: 1.5.6
  - `google-auth` version: current

#### Steps to reproduce

See above.

[2020-06-12 16:53] busunkim96 commented on #531
It looks like something is going wrong at the pip level. It looks like you have a old version of pip, so you may want to try an upgrade: `pip install --upgrade pip`

And if you are able to, please use Python 3. 😄

[2020-06-12 19:20] Bardo-Konrad commented on #531
[code]

[2020-06-12 19:24] busunkim96 commented on #531
Can you try the solution [here](https://unix.stackexchange.com/questions/206121/pip-install-gives-typeerror-int-object-is-not-iterable)?

[code]

[2020-06-14 07:29] dd-ssc commented on #501
I stumbled across this while working my way from the [GMail Python Quickstart](https://developers.google.com/gmail/api/quickstart/python#step_3_set_up_the_sample) towards a production app. That sample app saves/loads the token to/from a local `token.pickle` binary Python pickle file, including the access token.

In our projects, we store all secrets in a [HashiCorp Vault](https://www.vaultproject.

[2020-06-14 10:47] dd-ssc commented on #501
Update: The workaround for this issue is trivial, posting it here in case anyone else runs into it:

[code]

[2020-06-18 06:54] #520 closed

[2020-06-22 17:55] emmanuel-gcp opened #543 "IAM SignBlob and SignJwt decommissioned."
**Is your feature request related to a problem? Please describe.**
I received a notification from GCP alerting that SignBlob and SignJwt will be decommissioned and this library still using it.
 **Describe the solution you'd like**
The alert recommends the change
both authentication methods on:
https://iam.googleapis.com
Instead, it should use: https://iamcredentials.googleapis.com
 **Describe alte

[2020-06-23 04:46] busunkim96 commented on #543
Thanks for the heads up! It looks like we need to update the code in https://github.com/googleapis/google-auth-library-python/blob/37141e4dffc2ba3f3f57c5914544fb8b9cf7d017/google/auth/iam.py

Copying the text of the email for details:

[2020-06-24 18:55] aabmass opened #548 "Python 3.4 not working with rsa version upgrade"
#### Environment details

  - OS: Linux
  - Python version: 3.4
  - pip version: 19.1.1
  - `google-auth` version: 1.18.0

#### Steps to reproduce

[code]

[rsa 4.1 drops python 2 and 3.4 support](https://github.com/sybrenstuvel/python-rsa#major-changes-in-41). The new version that google-auth is using tries to import `typing`.

[2020-06-25 17:04] busunkim96 commented on #548
Thanks for filing an issue! Given that 3.4 is now EOL I opened #549 to drop it from our list of supported versions. I also tweaked #544 to make the pin on RSA more specific

[2020-06-25 17:37] aabmass commented on #548
Awesome, thank you for the quick response!

[2020-06-29 16:19] smarlowucf opened #551 "Missing pyOpenSSL Dependency"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-06-29 17:01] busunkim96 commented on #551
Hi @smarlowucf,

pyOpenSSL is not a requirement as it is only required for some transports. If you are for example only using gRPC you do not need pyOpenSSL.

We could potentially add it as an [`extra`](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies) to make it easier to install.

[2020-06-29 17:46] smarlowucf commented on #551
Hi @busunkim96. Okay, I agree it would be nice to have it as an extra so it's documented. I noticed it missing from running the test suite. I will close the PR.

[2020-06-29 23:27] #499 closed

[2020-06-30 23:01] #543 closed

[2020-07-02 20:57] kajalv commented on #466
I'm seeing the same issue, and I'm using a python virtual environment.

I'm wondering if it has something to do with incorrect 'best match'  selection, due to:
[code]

It works when I `pip install` the package but I'm using setuptools, so it's inconvenient to do.

Full output:
[code]

[2020-07-06 09:35] ddoskind opened #554 "Have Credentials.from_authorized_user_file() respect scopes saved by Credentials.to_json()"
**Is your feature request related to a problem? Please describe.**
When using the `to_json()` method of an OAuth2 credentials instance, the authorized scopes of the credentials are saved in the JSON representation:

https://github.com/googleapis/google-auth-library-python/blob/038ae1b78dc83e44ad39ef7ba15c607f62232087/google/oauth2/credentials.py#L313

However, when reading the JSON via `from_autho

[2020-07-13 11:39] charliesneath opened #557 ""missing 1 required positional argument: 'target_audience'" when generating credentials from service file using IDTokenCredentials"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-07-13 17:02] busunkim96 commented on #557
Hi @charliesneath,

Thanks for the report! It looks like the documentation needs to be fixed. `target_audience` is required to make a ID Token.

https://github.com/googleapis/google-auth-library-python/blob/3dda7b2ab88aba7941b8b5281b4acbc7db74169b/tests/oauth2/test_service_account.py#L247-L267

[2020-07-13 17:27] charliesneath commented on #557
Thanks. I'm also getting an error when trying to include scope, but from the method and with a keyword argument (also demonstrated in the example).

Specifically I'm trying to add the scope for Cloud Functions: `['https://www.googleapis.com/auth/cloud-platform']`

[2020-07-13 17:42] busunkim96 commented on #557
I think the documentation for ID Token must have been copy-pasted from service account. Taking a closer look at the class there are no `scopes` for an IDToken.

https://github.com/googleapis/google-auth-library-python/blob/3dda7b2ab88aba7941b8b5281b4acbc7db74169b/google/oauth2/service_account.py#L420-L443

Is there a specific reason you need to use IDTokenCredentials? You can also use a plain serv

[2020-07-13 18:24] charliesneath commented on #557
I'm trying to authenticate a service account (running from a Raspberry Pi) for access to a Cloud Function that requires authentication. Have not had any luck so far and was trying this as a way to generate the necessary token to authorize access.

Have struggled to find documentation for this flow so any guidance would be appreciated. Thank you!

NOTE: I was able to authenticate through the method

[2020-07-13 20:59] busunkim96 commented on #557
It looks like the documentation for authenticating to cloud functions is [here](https://cloud.google.com/functions/docs/securing/authenticating). It seems like your use case is [service-to-function](https://cloud.google.com/functions/docs/securing/authenticating#service-to-function).

It looks like an ID Token is the way to go.

Does something like this work for you?

[code]

[2020-07-14 00:21] charliesneath commented on #557
Yes, that finally worked for me! Thanks very much.

Note that when running `credentials.valid` I get `False` even if the response returns the data behind the URL requiring authentication.

[2020-07-14 04:51] busunkim96 commented on #557
Hmm, the `credentials.valid` is `False` even though the token seems to be valid?

[2020-07-15 00:13] vimota commented on #494
An additional note on to_json - it doesn't serialize the "type" which the from_authorized_user_info relies on to read user auth (as opposed to service account auth) based credentials.

[2020-07-15 00:51] charliesneath commented on #557
Yes — I can use the credentials but I get `False` back.

[2020-07-15 00:59] vimota opened #558 "Support project_id for _AUTHORIZED_USER_TYPE"
Right now, the load_credentials_from_file (which is used by google.auth.default()) always returns a `None` project id. This causes issues with libraries that only use the default() method for getting credentials (for example, [tensorflow_cloud fails on the user auth approach](https://github.com/tensorflow/cloud/issues/51) even if you set the project via the gcloud CLI).

It would be really helpful

[2020-07-15 17:11] busunkim96 commented on #558
I believe user credentials do not always have a project id (unlike service accounts, which always have a project).

(2) should already be true. See https://github.com/googleapis/google-auth-library-python/blob/9058f1fea680613d9717a62ee37dc294c11b9c8a/google/auth/_default.py#L306-L308 for the logic around this.

[2020-07-15 18:44] vimota commented on #558
I totally missed that about (2) - makes sense thank you :)

[2020-07-15 18:44] #558 closed

[2020-07-15 22:54] busunkim96 opened #559 "_default always sets `credentials.quota_project_id` to None"
#546 introduced a bug where the quota project id always gets set to `None`. If no `quota_project_id` is passed to `load_credentials_from_file(...)` or `default(...)`, the existing project should not be overridden

[2020-07-15 23:49] #559 closed

[2020-07-16 07:40] arithmetic1728 commented on #557
@charliesneath This is the expected behavior. `service_account.IDTokenCredentials.from_service_account_file` only creates the credentials but not the token, so it is not valid. You need to call `credentials.refresh` method to refresh/obtain the token and then it becomes valid. However, this is not necessary when you call `authed_session.post(url)`, because credentials always refreshes itself for a

[2020-07-16 11:11] charliesneath commented on #557
Thanks for clarifying.

[2020-07-21 16:53] bemineni opened #566 "verify_oauth2_token takes a minute to complete"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-07-21 16:58] busunkim96 commented on #566
Hi @bemineni,

Was this faster in previous versions of the library?

[2020-07-21 18:49] bemineni commented on #566
I started to use this library for the first time recently for project development. I see a delay only in the very first call. Is there any way I can debug and provide you more logs.

[2020-07-21 18:59] tseaver commented on #286
Please feel free to follow up / reopen if you can provide more information.

[2020-07-21 18:59] #286 closed

[2020-07-21 21:09] tseaver commented on #548
Via #544.

[2020-07-21 21:09] #548 closed

[2020-07-21 21:09] tseaver opened #568 "Add support for Python 3.8"

[2020-07-23 00:17] #568 closed

[2020-07-25 03:32] busunkim96 commented on #566
Hmm, the only network call that's being made is to fetch the certificates, and I wouldn't expect it to take that long.

https://github.com/googleapis/google-auth-library-python/blob/c05b8b52e3bbc096cf32e2d4bb5bd45986d3cd04/google/oauth2/id_token.py#L86-L108

Could you try increasing the logging level and verifying that the HTTP request is the bottleneck?

[code]

[2020-07-28 06:34] yohplala opened #575 "How to change a `google.oauth2.service_account.Credentials` into a `google.auth.credentials.Credentials` object?"
Hi,

I use a service account to manage authentication with `google.oauth2`.

[code]

I need to provide it with a new `http` object from [`build_http()`](https://github.com/googleapis/google-api-python-client/blob/d059ad881c7ae58c67931c48788d0bd7343ab16c/googleapiclient/http.py#L1891) in `googleapiclient/http.py`, by using
[`authorized_http()`](https://github.com/googleapis/google-api-python-client

[2020-07-30 05:38] busunkim96 commented on #575
All the credentials types base `google.auth.credentials.Credentials`. See https://github.com/googleapis/google-auth-library-python/blob/master/google/oauth2/service_account.py#L85 for example.

Are you getting an error when you try to use a service account credential to authorize the `httplib2.Http` instance?

[2020-07-30 16:21] yohplala commented on #575
Hi @busunkim96
Thanks for your help. I am sorry, I am unable to re-create the error. Everything works actually fine. I feel dumb, sorry for the disturbance.
Have a good day, and thanks again for your help.
Bests,

[2020-07-30 16:21] #575 closed

[2020-07-31 19:44] anilmathew21 commented on #192
I had same issue. Resolved by installing "pip install requests-toolbelt"

Issue :
![image](https://user-images.githubusercontent.com/13895567/89071428-52456700-d33c-11ea-93dc-1d8f097e7fec.png)

[2020-08-03 02:58] jverkoey commented on #316
I ran into this issue just now as well, but the root cause was that I was using `id_token.verify_oauth2_token` instead of `id_token.verify_firebase_token` to verify a firebase-generated token.

[2020-08-03 09:10] #454 closed

[2020-08-04 14:18] embray commented on #316
I'm having this problem as well, in France.  The thing I don't understand is it's asking for the key ID of my project's private key.  These are custom tokens created with `firebase_admin.auth.create_custom_token`.

[2020-08-05 13:10] davidwtbuxton opened #579 "Default credentials on App Engine standard (Py3) do not support custom scopes"
Using the `google.auth.default()` helper to access credentials for the default service account on App Engine standard works great, but does not allow one to use auth scopes beyond the default scopes for the Python 3.7 and 3.8 runtimes. This is different to how the old 2.7 runtime works.

This app works on 2.7, fails with an exception on 3.8:

[code]

On 3.8 the error is

[code]

The problem is tha

[2020-08-05 19:22] flying-falcon opened #580 "User Impersonation with Google Service Account and access google calendar in gsuite"
Hi. I'm trying to implement user impersonation with a google service account. After adding the user to be impersonated as the subject, I get `Client is unauthorized to retrieve access tokens using this method, or client not authorized for any of the scopes requested` error. However, I have added https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/impersonated_credentia

[2020-08-06 07:17] busunkim96 commented on #580
@nnkteja Could you share the code you are using to create the credentials and construct the client?

https://googleapis.dev/python/google-auth/latest/user-guide.html?highlight=impersonated#impersonated-credentials is the current example we have for impersonated credentials.

[2020-08-06 07:32] busunkim96 commented on #579
Hi @davidwtbuxton,

I believe Compute Engine is the only one (that uses the metadata server) and prevents additional scopes.  IIRC, NodeJS and possibly other language's auth libraries already allow scope changes for this type of credential. I think it would be appropriate to make that change here as well. If you are able to make a PR we would be happy to review. 😄

[2020-08-06 08:38] davidwtbuxton commented on #579
Thanks for the context @busunkim96 . I will go and test things for Compute Engine and Flex, and come back with a plan for how to add this feature. Obviously it would be great if we can avoid having more special cases.

[2020-08-07 01:36] bynormous opened #583 "auth.verify_id_token throwing "Token used too early" InvalidIdTokenError error in v1.20.1"
## Environment details

  - OS: Mac 10.15.6
  - Python version: 3.7.3
  - pip version: 20.2.1
  - `google-auth` version: 1.20.1

#### Steps to reproduce

  1. Update 1.20.0 to 1.20.1
  2. Get a fresh firebase token on client JS with firebase.auth().currentUser.getIdToken()
  2. Try to validate a firebase token using auth.verify_id_token

InvalidIdTokenError thrown with details:
Token used too earl

[2020-08-07 03:36] bynormous commented on #583
I noticed that my macs that are set to automatically sync to time.apple.com have clocks that are 12 seconds behind the time from NIST. I read that it drifts from time to time and I'm concerned the update in 1.20.1 is too strict for tokens generated by client-side libraries such as firebase's.

[2020-08-07 06:57] bynormous commented on #583
After toggling all my mac's system time syncing preferences and restarting a couple times (it was always at least seconds off), the time finally is synced properly and the error is gone.

[2020-08-07 06:57] #583 closed

[2020-08-07 20:28] crwilcox opened #585 "refactor: Can _CombinedResponse be moved to resumable media?"
_CombinedResponse, as added in https://github.com/googleapis/google-auth-library-python/pull/584, may be able to be factored out of auth and then only used in resumable media.

[2020-08-07 22:29] crwilcox opened #587 "Improve test coverage for aiohttp_requests"
Current coverage in async is lower than the gate.

[code]

[2020-08-09 20:26] davidwtbuxton commented on #579
First thing I would like to do is change the [`google.auth.compute_engine._metadata.get(..)`][get] request helper to allow arbitrary query parameters.

- Change `get(..)`, add a `params` keyword which takes an optional mapping of query parameter string keys and values.
- Change [`google.auth.compute_engine._metadata.get_service_account_info(..)`][1] to use `get(.., params={'recursive': 'true'})`.

[2020-08-09 20:39] mik-laj commented on #579
I also support option 3. This looks the most elegant.

[2020-08-10 08:18] wescpy commented on #501
A workaround is good but not a permanent fix for this bug, so I spent the day working on it and submitted for review as </pull/589>. Thanks to @dd-ssc for the inspiration!

[2020-08-10 20:34] dinvlad commented on #579
I'd favor the other options - we have this need both inside Cloud Functions and on GKE Workflow Identity (which also supports custom scopes).

[2020-08-10 20:36] dinvlad commented on #579
It would be preferable to fix this not just for AppEngine, but also for Cloud Run, Cloud Functions, and GKE Workload Identity (all of which support scopes).

[2020-08-11 06:20] busunkim96 commented on #579
The module naming is a product of the time they were created.  `google.auth.app_engine.Credentials` is only for the older App Engine Python 2.7 runtime.  `google.auth.compute_engine.credentials` is returned in any environment that uses the Metadata Server (Compute Engine, App Engine, Functions, Cloud Run, ...)

I believe GCE is the only one out of the bunch that disallows scope changes, so I vote

[2020-08-11 07:00] davidwtbuxton commented on #579
@busunkim96 Thanks for pointers to the Node PR. I'll have a go at updating the compute engine credentials.

[2020-08-11 13:32] dinvlad commented on #579
@busunkim96 would it still work for default credentials however, by extension that `google.auth.default()` will "detect" the corresponding environment and use `google.auth.compute_engine.credentials`, when appropriate, and use scoped credentials from `GOOGLE_APPLICATION_CREDENTIALS` when those are set instead? If so, I'd favor 2 as well. Thanks!

[2020-08-11 16:44] BurakaKrishna commented on #276
Hello @gkayas i had same issue when trying to run few files for transcription, were you able to solve it ?

[2020-08-12 04:20] #513 closed

[2020-08-12 07:06] davidwtbuxton commented on #579
@dinvlad Yes, option 2 would not change the order of tests done in `google.auth.default()`.

[2020-08-14 16:22] dinvlad commented on #331
I'd like to add to this question - is it possible to starting with `google.auth.default()` `Credentials` and end up with an `id_token`? Otherwise, we have to detect the environment ourselves and use different strategy to generate it depending on the environment.

[2020-08-14 16:26] mik-laj commented on #331
@dinvlad  I am afraid it is not supported. In my project, I implemented it on my side, but I didn't find time to contribute here
https://github.com/apache/airflow/blob/master/airflow/providers/google/common/utils/id_token_credentials.py.

[2020-08-14 16:36] dinvlad commented on #331
@mik-laj thanks a lot! That does seem helpful

[2020-08-14 16:49] dinvlad opened #590 "Generate id_token from default credentials"
**Is your feature request related to a problem? Please describe.**

Currently, `google.auth.default()` generates `Credentials` that contain `.token` that is an access token.
We'd like to also generate `id_token` with the appropriate audience starting from default credentials.

This would allow us to submit requests that use `id_token` uniformly among different environments:
- Local Service Account

[2020-08-14 16:50] dinvlad commented on #331
FWIW, I've created https://github.com/googleapis/google-auth-library-python/issues/590 to track this.

[2020-08-27 14:56] dinvlad commented on #579
Any updates on this? Thanks!

[2020-08-31 08:28] akx opened #595 "Setuptools as dependency is problematic w/ pip-tools"
https://github.com/googleapis/google-auth-library-python/commit/908da752d01fef728bd5cb3eb5b13f2b5c335e51 (#322) added `setuptools` as a dependency in this package. However, the [pip-tools](https://github.com/jazzband/pip-tools) package that's commonly used for pinning dependencies considers `setuptools` an unsafe dependency to have in a project at all (as discussed in #492), and as such doesn't sa

[2020-08-31 14:56] busunkim96 commented on #595
Hi @akx,

It looks like the pin was added to avoid an issue related to namespaces not being handled correctly in older versions of setuptools.

https://github.com/googleapis/google-auth-library-python/pull/322

Discussion in https://stackoverflow.com/questions/58843905/what-is-the-proper-way-to-decide-whether-to-allow-unsafe-package-versions-in-pip/58864335#58864335 suggests that this restriction

[2020-08-31 16:56] akx commented on #595
Hey @busunkim96, thanks for the response. :)

Considering the issue in #322 was only a warning, and even so only manifested when using https://github.com/pantsbuild/pex (which, as far as I know and have used it, is used for application packaging, not library packaging), I think (well, with hindsight being 20:20 and all) the real fix would be for the pex-built project to require a newer setuptools,

[2020-09-02 12:49] sayap commented on #271
@bmccutchon I think you should include `--account <email>` when shelling out to `gcloud config config-helper`, otherwise we just go from one implicit default (the "application default credential" or ADC) to another implicit default (the currently active account for gcloud).

Also, both the shelling out and the `--force-auth-refresh` flag seem a little excessive, while at the same time we are still

[2020-09-10 22:17] 0xSage opened #604 "DefaultCredentialsError in a GKE Workload Identity setup due to MDS slow start up"
#### Environment details

  - OS: GKE OS/container optimized OS
  - Python version: 3.7-slim
  - pip version: pip3
  - `google-auth` version: 1.21.0

#### Steps to reproduce

  1. Set up GKE with Workload Identity pool
  2. Have a Python app container, with code that relies on Python Auth to use some Cloud library, e.g. like Cloud Trace
  3. Deploy basic cluster. Experience a race condition `Defau

[2020-09-17 11:01] AdarShaked opened #606 "v 1.21.2 supports python 2.7?"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Hi, Do v 1.21.2 supports python 2.7?

[2020-09-17 15:20] busunkim96 commented on #606
Hi @AdarShaked,

Yes the latest library version is still compatible with 2.7 (although we strongly recommend you move to 3.6+).

Are you having trouble using the library with Python 2.7?

[2020-09-20 10:16] AdarShaked commented on #606
yes.im having issues when installing from pypi  with pip
(No module named google.auth.transport.requests)
maybe its problem in setup.py?

[2020-09-23 08:10] wescpy commented on #501
While the PR has been merged, this isn't officially "fixed" until the next release. However, those who are being bitten by this can at least grab the latest [google/oauth2/credentials.py](https://github.com/googleapis/google-auth-library-python/blob/master/google/oauth2/credentials.py) and replace their faulty one.

[2020-09-25 21:27] crwilcox opened #613 "Move async interfaces to public surface once integrated"
Since there aren't any packages using this yet, it has been put in as _internal surface in #612

Once this is being used, we should move to a public surface with this.

- `google.auth.transport._aiohttp_requests` -> `google.auth.transport.aiohttp_requests`
- `google.auth._jwt_async` -> `google.auth.jwt_async`
- `google.auth._credentials_async` -> `google.auth.credentials_async`
- `google.oauth2._s

[2020-09-25 21:57] crwilcox opened #614 "coverage: improve test coverage for aiohttp_requests.py"
Current coverage for aiohttp_requests has some gaps.

.nox/cover/lib/python3.7/site-packages/google/auth/transport/_aiohttp_requests.py      98     19     16      1    74%

- [x] 57-58,
- [x] 76-78,
- [x] 81-90,
- [x] 102,
- [x] 106,
- [x] 110,
- [x] 114,
- [x] 298->299,
- [ ] 299-301

[2020-09-26 00:35] crwilcox commented on #614
fixed by f960381 in #612

[2020-09-26 00:35] #614 closed

[2020-10-03 21:35] merwok opened #618 "Use extra for asyncio dependencies"
Hello!  The latest release for this library pulls in aiohttp and its dependencies unconditionally, which adds non-trivial burden to projects that don’t need it.  Would you consider using a packaging extra so that people can opt-in?

[2020-10-05 14:46] busunkim96 commented on #618
That sounds alright to me. @crwilcox?

[2020-10-05 17:08] #618 closed

[2020-10-05 17:20] merwok commented on #618
Nice, thanks!

[2020-10-05 19:03] Nova-Striker commented on #190
I installed google-auth-httplib2 .

When I import it , I get this error :

    import google-auth-httplib2
                 ^
SyntaxError: invalid syntax

[2020-10-05 22:01] failure-checker[bot] opened #621 "Warning: a recent release failed"
The release PR #620 is still in a pending state after several hours

[2020-10-07 09:17] kmeeraj commented on #192
I did this step and it worked for me
https://stackoverflow.com/questions/45927259/google-cloud-python-sdk-installation-error-ssl-certification-error/50524168#50524168

[2020-10-18 16:21] davidwtbuxton commented on #579
Picking this up again.

[2020-10-20 14:58] busunkim96 commented on #501
Closed by #589

[2020-10-20 14:58] #501 closed

[2020-10-21 21:00] tseaver commented on #606
@AdarShaked the `google/auth/transport/requests.py` module has:

[code]

See: https://googleapis.dev/python/google-auth/latest/user-guide.html#requests

[2020-10-22 19:21] tseaver commented on #621
https://github.com/googleapis/google-auth-library-python/releases/tag/v1.22.1

https://pypi.org/project/google-auth/1.22.1/

[2020-10-22 19:21] #621 closed

[2020-10-22 19:22] tseaver opened #629 "Tests broken on Python < 3.8"
[code]

Due to https://github.com/pnuckowski/aioresponses/issues/172

[2020-10-22 20:05] #629 closed

[2020-10-23 15:37] eyalzek commented on #579
I suppose I'm hitting the same issue on a GKE cluster with workload identity enabled. I can successfully authenticate and interact with any GCP services (GCS, BigQuery, etc), but trying to fetch data from Google Analytics fails with:
`HttpError: <HttpError 403 when requesting https://analyticsreporting.googleapis.com/v4/reports:batchGet?alt=json returned "Request had insufficient authentication sc

[2020-10-24 11:54] davidwtbuxton opened #632 "TODO: undo pin of 'aiohttp' once 'aioresponses' releases a fix"
Environment details

  - OS: $ sw_vers
ProductName:    Mac OS X
ProductVersion: 10.14.6
BuildVersion:   18G6020

  - Python version: 3.6, 3.7, 3.8
  - pip version: pip 20.2.4
  - `google-auth` version: 5906c8583ca351b5385a079a30521a9a8a0c7c59

#### Steps to reproduce

  1. nox -s unit

There are 9 tests that fail, all with the same error:

`TypeError: __init__() missing 1 required positional argum

[2020-10-24 11:57] davidwtbuxton commented on #632
Potential fixes:

- Wait for aiohttp to undo the change, making the limit argument optional again.
- Wait for aioresponses to update so it is compatible with the changes in aiohttp.
- Pin the version of aiohttp used when running tests `<3.7.0`.

[2020-10-24 12:58] davidwtbuxton commented on #632
I've made a PR for aioresponses https://github.com/pnuckowski/aioresponses/pull/174

[2020-10-26 20:59] tseaver commented on #632
@davidwtbuxton Thanks for following up.  I just added a [comment](https://github.com/aio-libs/aiohttp/pull/5065#issuecomment-716818318) to the `aiohttp` PR which made this breaking change.

[2020-10-26 21:08] tseaver commented on #632
@davidwtbuxton see #634

[2020-10-28 18:37] tseaver commented on #632
PR #634 is merged.  Perhaps we should leave this issue open with a change of title to indicate that we revisit the pin once `aioresponses` comes up with a release fixing the issue (the `aiohttp` maintainer says he doesn't consider his change breaking, as users aren't supposed to instantiate `StreamResponse` directly).

[2020-10-28 19:22] tseaver opened #636 "Normalize nox / docs builds"
## `docgen`

` `noxfile.py` contains a `docgen` session which, when run, delete's / overwrites some files in the `docs/reference` tree:

[code]

I recommend that we delete this section, as a fossil of an approach we no longer mean to support.

## `docs` session

The `docs` session triggers the build via `make` (and the `docs/Makefile`), rather than running `sphinx-build` directly as in other proje

[2020-10-28 22:01] failure-checker[bot] opened #638 "Warning: a recent release failed"
The release PR #567 is still in a pending state after several hours

[2020-10-29 21:38] #632 closed

[2020-11-09 13:41] Hikaon commented on #253
Shorter version:
`credentials = google.oauth2.credentials.Credentials(**credentials_dict)`

[2020-11-10 22:27] #638 closed

[2020-11-11 14:15] botsman opened #642 "Warning "Unclosed client session" when calling _id_token_async.fetch_id_token"
#### Environment details

  - OS: MacOS
  - Python version: 3.8.2
  - pip version: 20.2.4
  - `google-auth` version: 1.23.0

I am trying to use async functions.
When I am fetching id_token, I am seeing following warnings:
[code]
If I understand correctly, these warnings are coming from the `aiohttp` library, because session is called outside of a context manager: https://github.com/googleapis/goog

[2020-11-17 00:15] pPanda-beta opened #644 "Service account email is not forwarded, and it falls back to 'default'"
**When we create a iam.signer** with custom service account email,
**we expect** the service account associated with that mail to be used for signing
**but we find** that gcp instance's 'default' service account is used

### Reason:
credentials object (`self`) is not forwarded the  to the signer. May be it is to avoid the circular object references.
But we should at least inform the service accoun

[2020-11-17 00:15] pPanda-beta commented on #644
This is creating trouble in
https://github.com/stevearc/pypicloud/blob/e280935ffeb30efa4727e0b16a346ed49aa36164/pypicloud/storage/gcs.py#L181-L187

[2020-11-30 09:18] attila123 opened #646 "Used python rsa library brings PKCS#1 decryption vulnerability, is google-auth affected?"
#### Environment details

  - OS: not relevant for the issue
  - Python version: not relevant for the issue
  - pip version: not relevant for the issue
  - `google-auth` version: 1.23.0, currently latest

#### Steps to reproduce

Security vulnerability scanners pick up an unfixed PKCS#1 decryption code issue with the rsa library 4.6 (see among the dependencies in setup.py in this project): https:/

[2020-11-30 16:16] busunkim96 commented on #646
Hi @attila123, thanks for the report.

`python-rsa` is used only in https://github.com/googleapis/google-auth-library-python/blob/37141e4dffc2ba3f3f57c5914544fb8b9cf7d017/google/auth/crypt/_python_rsa.py. As you've stated, the `decode()` method is not called.

Full list of calls to `python-rsa`:
https://github.com/googleapis/google-auth-library-python/blob/37141e4dffc2ba3f3f57c5914544fb8b9cf7d017/

[2020-12-02 11:01] timuram commented on #613
Hi
Any progress on this?

[2020-12-03 20:42] davidwtbuxton commented on #579
Closing this issue because the original request about using scopes with default credentials is all good. Looks like the user guide in the documentation is currently out-of-date concerning the App Engine runtimes, but that can be moved to a new issue.

https://google-auth.readthedocs.io/en/latest/user-guide.html

Thanks,

David

[2020-12-03 20:42] #579 closed

[2020-12-04 19:58] skelliest opened #650 "docs type"
https://github.com/googleapis/google-auth-library-python/blob/41599ae932db31cf692d2c7bec15d8bb1778ab50/google/auth/impersonated_credentials.py#L151

Example has extra c and should read `from google.oauth2 import service_account`

[2020-12-07 16:57] busunkim96 commented on #650
@skelliest Thanks for catching that! I've opened #651 to fix the docs.

[2020-12-07 18:00] #650 closed

[2020-12-08 01:18] #646 closed

[2020-12-08 21:12] tseaver commented on #261
@silvolu please loop the apropriate person in here.

[2020-12-10 07:51] attila123 commented on #646
Thanks @busunkim96 for your kind support.

[2020-12-10 20:21] tseaver opened #654 "Add support for Python 3.9"

[2020-12-11 18:20] #654 closed

[2020-12-16 19:28] bmccutchon opened #657 "impersonated_credentials.Credentials.service_account_email is undocumented"
It seems that [`service_account_email` is a public property of `impersonated_credentials.Credentials`](https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/impersonated_credentials.py#L289). However, it has no docstring and doesn't show up in the documentation. Should it be documented?

[2020-12-17 23:35] upodroid commented on #579
The scopes available to this client depends on the scopes configured on the VM or the GKE Nodepool. Most of the time it is set to cloud-platform so it won't work for non Cloud APIs. You should be able to specify other scopes and it should work.

[code]

[2020-12-18 02:34] dinvlad commented on #579
Unfortunately, this doesn't work when using instances with Workflow Identity enabled. The scopes are then supported only through the Metadata API (but not by this library, last time I checked..)

[2020-12-22 14:41] akx opened #658 "AuthorizedSession's _auth_request sub-session is never cleaned"
### Environment details

  - OS: macOS
  - Python version: 3.9
  - `google-auth` version: 1.24.0

### Steps to reproduce (kinda)

[Py.test 6.2 enables hard errors on unhandled thread exceptions and resource errors](https://docs.pytest.org/en/stable/usage.html#warning-about-unraisable-exceptions-and-unhandled-thread-exceptions) such as leaking SSL sockets/sockets/FDs. I've spent the last couple hou

[2021-01-03 20:59] DaniyalDhz opened #659 "google.auth.exceptions.RefreshError: The credentials do not contain the necessary fields need to refresh the access token. You must specify refresh_token, token_uri, client_id, and client_secret."
Thanks for stopping by to let us know something could be better!

If you are still having issues, please be sure to include as much information as possible:

#### Environment details

  - OS: 11.1
  - Python version: 3.8.5
  - pip version: pip 20.2.4
  - `google-auth` version: 1.23.0

#### Steps to reproduce

  1. Saved google credentials and user token to separate file and a db
  2. when print(cr

[2021-01-03 21:31] DaniyalDhz commented on #659
and if I add:

[code]
I get:
[code]

[2021-01-03 23:47] DaniyalDhz commented on #659
I believe my mistake is with user token changing almost every time which contradicts what the code snippet recommended to do:
[code]
Why save credentials to a persistent db if user token going to change every time?

[2021-01-04 21:46] DaniyalDhz commented on #659
Update:
After digging deeper through the [docs](https://developers.google.com/identity/protocols/oauth2#5.-refresh-the-access-token,-if-necessary.), I realized the developer most likely meant to save the refresh token to a db as they have a much longer life.

However, my credentials is like this:

{
  'client_id': '3118..vc2n.apps.googleusercontent.com',
  'client_secret': 'imMySiOXTb...R2w',
  'r

[2021-01-05 15:43] busunkim96 commented on #659
Hi @DaniyalDhz,

Your understanding is correct, you need a refresh token for the credential to be refreshable. The refresh token is returned the first time the [OAuth2 access tokens](https://developers.google.com/identity/protocols/oauth2/web-server#obtainingaccesstokens) are obtained. You should save it so you are able to refresh the token.

There is no way to go from an access token -> refresh t

[2021-01-05 17:24] DaniyalDhz commented on #659
Got it! Thanks for sharing the useful resources!
then my 2 questions left are:

1. if I have an outdated `access token` but a new and lasting `refresh token` would the API calls be successful (& not care about the access token) or not as the calendar API `build('calendar', 'v3', credentials=credentials)` takes all and I assume others do too. if it does care & reads access token, how shall I go abo

[2021-01-05 18:58] DaniyalDhz commented on #659
1. ok so back to my example where POST calls are made from chrome extension to the server that the user authenticated or in other words the user is not in the session(as most of the dev code I saw was all integrated with session & redirects). Should the code be something like this?

[code]
As I don't see how the flow is updating the credentials unless I add:
[code]
per the doc which would defeat t

[2021-01-05 21:08] DaniyalDhz commented on #659
bottom line, I am not sure how to integrate the refresh access token offline with credentials all in one function.

[2021-01-07 19:59] #659 closed

[2021-01-10 22:50] yaseenlotfi opened #663 "Potential Bug: Uncaught exception when calling oauth2.id_token.fetch_id_token"
Fail to retrieve an ID token because the workflow is broken prematurely. This function tries to fetch the ID token from the Compute Metadata Server, first. If that fails, then it tries loading credentials from the environment variable. Raises a final error if it can't do either. In my case, I'm trying to fetch the ID token locally so the metadata server URL cannot be resolved. This causes an uncau

[2021-01-11 16:20] busunkim96 commented on #663
Hi @yaseenlotfi,

Thanks for the thorough explanation. It seems like the existing behavior is incorrect. On a first pass I think `get()` might be missing some additional error handling. The metadata server is only available inside GCP runtime environments so a call to it *should* fail with a `TransportError` locally. 🤔  It's odd that the call seems to succeed.

https://github.com/googleapis/google

[2021-01-12 04:18] yaseenlotfi commented on #663
Confirming that neither of those variables are set in my environment.

I just called the Metadata Server directly and `requests.get` is returning HTML from my ISP:
![Screen Shot 2021-01-11 at 11 11 05 PM](https://user-images.githubusercontent.com/50344130/104268719-977cd180-5462-11eb-8921-99b8b6d97b1a.png)

So that *is* technically expected but then the question is how to handle it.

Code to repro

[2021-01-15 15:53] subhajeet2107 opened #666 "Getting unsupported operand type(s) for -: 'str' and 'datetime.timedelta'"
#### Environment details

  - OS: Ubuntu 18
  - Python version: 3.7
  - pip version:
  - `google-auth` version: 1.21.3

#### Steps to reproduce

  1. Create credentials from InstalledAppFlow
  2. While checking for credentials.expired with : if credentials and credentials.expired and credentials.refresh_token
  3. Getting unsupported operand type(s)  from line 68:  "skewed_expiry = self.expiry - _

[2021-01-15 17:34] alvaroabascar opened #667 "Getting "Invalid JWT Signature" after upgrading to rsa==4.7"
#### Environment details

  - OS: Linux, Mac
  - Python version: 3.7, 3.8
  - pip version: 20.3.3
  - `google-auth` version: 1.22.1

#### Steps to reproduce

We found this bug while using [dvc](https://github.com/iterative/dvc) and using Google Cloud Storage as a backend. Authentication with google is done via a service key file. When running dvc with `rsa==4.6` everything works fine, but when upg

[2021-01-15 22:12] busunkim96 commented on #667
Hi,

Thanks for the report! I've marked this as external for now since I see you also opened https://github.com/sybrenstuvel/python-rsa/issues/173.  Please let me know if something needs to be fixed in this library.

[2021-01-15 22:14] busunkim96 commented on #666
Yep! 3.7 is supported. You can check the supported versions list in the descriptors / python_requires. https://pypi.org/project/google-auth/

It sounds like the library might be missing a conversion from str to datetime. Would you mind sharing a bit more ot the code you were using?

[2021-01-16 07:11] subhajeet2107 commented on #666
So i was initialising the Credentials class from json itself, and this caused problems:
Credentials class offers a to_json() method, after storing this output lets say to a json file and then recreating it causes this issue eg:
`
creds = Credentials(token='abc', refresh_token='xyz')
json_output = creds.to_json()

#Save this output somewhere like creds.json
#then load this again

import json
creds

[2021-01-21 13:02] forking-renovate[bot] opened #668 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 13:47] franeksaww opened #669 "IAP access token cannot be generated from application_default_credentials.json"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-01-21 13:50] franeksaww commented on #669
[code]

[2021-01-21 14:46] #668 closed

[2021-01-22 13:28] jamescooke commented on #667
Hi @busunkim96 , I've added a stacktrace for what I think is causing the error above to the ticket on python-rsa here: https://github.com/sybrenstuvel/python-rsa/issues/173#issuecomment-764960684

Looking at that stack trace, the call from `/google/auth/crypt/_python_rsa.py` to `python-rsa` looks like:

[code]

Is there any chance that the `_key` here https://github.com/googleapis/google-auth-libr

[2021-01-22 15:42] busunkim96 commented on #669
Hi @franeksaww,

Could you check what kind of credential is getting picked up by `google.auth.default()` by checking `type(cred)`?

[2021-01-25 09:55] #669 closed

[2021-01-26 19:33] andytheapedemontague opened #673 "Getting project ID using Application Default Credentials fails when gcloud command writes anything to stderr"
- OS: Ubuntu 20.04
  - Python version: 3.8
  - pip version: 20.0.2
  - `google-auth` version: 1.19.2

#### Steps to reproduce

  1. Arrange for gcloud to throw a warning. For example I'm suffering from this https://github.com/GoogleCloudPlatform/gsutil/issues/999
  2. Attempt to use ADC e.g. `credentials, project = google.auth.default()`
  3. Note that project always comes back at None even if `gc

[2021-01-27 07:41] ievgennaida commented on #566
@busunkim96 For me it's also taking long, depends on environment.

I have noticed that this is additional 0,5 - 1s of overhead while token is verified from a header on the each call.

I would like to use cert request cache like it's described in the comments but the explanation is not giving the idea of a fallback when certs are expired.

Could you please give more explicit description what to exp

[2021-01-27 15:41] busunkim96 commented on #673
@arithmetic1728 Could you take a look at this one?

[2021-01-28 07:49] arithmetic1728 commented on #673
@busunkim96 I will take a look. Thanks!

[2021-02-01 15:12] hacktobeer opened #677 "pip package contains no google/__init__.py"
#### Environment details

  - OS: ubuntu and osx
  - Python version: 3.7
  - pip version: pip 20.1.1
  - `google-auth` version: google_auth-1.24.0

#### Steps to reproduce

  1. pip install google-auth
  2. python
  3. import google.auth
[code]

[2021-02-01 15:45] busunkim96 commented on #677
Hi @hacktobeer,

I'm not able to reproduce the error. Could you try installing the library in a clean virtual environment?

1. `python3 -m venv env`
2. `source env/bin/activate`
3. `python3 -m pip install google-auth`

[2021-02-01 15:59] hacktobeer commented on #677
I am unable to reproduce it again. Very strange.

[code]

[2021-02-01 15:59] #677 closed

[2021-02-01 22:43] tobiasbp commented on #273
What is the task here ? @JustinBeckwith

[2021-02-03 12:41] lechen26 commented on #667
jumping in.
we started to get this error exactly recently,.
on our log we have the error
[code]

we are using google service account to access google cloud storage on the python service.
nothing has changed on our serviec account or his key.
also, this error is intermittent , meaning we can fetch files from storage all the time and every couple of hours we get this error.

is this the same issue?

[2021-02-03 16:24] busunkim96 commented on #667
Hi @lechen26,

The root cause is still up in the air. See https://github.com/sybrenstuvel/python-rsa/issues/173. Can you try explicitly pinning to `rsa==4.6`?

[2021-02-03 21:37] fcollman commented on #667
I am experiencing the same problem.. i hotfixed pip installed rsa==4.6 and the problem went away.

[2021-02-03 23:58] busunkim96 opened #681 "Add self-signed JWT support to async credentials"
Implement #665 #679 for the async credentials.

[2021-02-05 21:25] busunkim96 opened #685 "Preserve async docs in `docgen`"
Running `docgen` appears to result in the async credentials files getting deleted. Investigate and modify the session so files are not deleted.

[2021-02-07 07:36] lechen26 commented on #667
i'm trying to pin this rsa version.
i thought its not related to my case as i dont have this package on my requirements.txt file.

[2021-02-07 18:33] donantoniosantos opened #706 "Cloud Function cannot get token from computemetadata server"
Have a python cloud function that is trying to access metadata.google.internal and am getting Internal Server Error 500 when trying to get the token or identity. I get a 200 when I access 'http://metadata/computeMetadata/v1/instance/service-accounts' but anything after default or the service account email addr will give me an error 500. Service account has owner privs in the project.

Code:
[code]

[2021-02-07 23:12] Daniyaldehleh opened #687 "Importing gmail address in google Oauth to the respective gmail account"
I am using google-Oauth to login/sign up my user to my google projects. I'd like the users signing up to be imported to the google project's gmail account's contacts. What's the best way to go about it? I'm hoping for a cleaner & easier way than manually sending user's gmail from my backend to the gmail account via an api?

It would highly make sense for google OAuths to support such critical feat

[2021-02-08 16:09] busunkim96 commented on #687
Hi,

I'm not sure I completely follow. Would you mind expanding a bit more? If I understand correctly, you are looking to create a list of email contacts for all users who have used OAuth2 to access your application?

When you say "google project" are you referring to the project created in console.cloud.google.com?

[2021-02-08 17:03] DaniyalDhz commented on #687
Exactly! you got it right. The users signing up with my OAuth of my google project from (console.developers.google.com) to be added to the project gmail account's contact list in (console.developers.google.com)

[2021-02-08 17:11] busunkim96 commented on #687
@silvolu @arithmetic1728 Could you take a look?

[2021-02-08 18:36] arithmetic1728 commented on #687
This is beyond the scope of this auth library. I think you need resource manager api, the description is here: https://cloud.google.com/resource-manager/docs/reference/essentialcontacts/rest#rest-resource:-v1beta1.projects.contacts. Specifically this method for getting the list of contacts:

[code]

I guess maybe this can be done via [python-resource-manager client library](https://github.com/goog

[2021-02-09 15:45] Jordan-Mesches opened #688 "marshaling/json export feature?"
I'm currently using AWS lambda, and I'm trying to use this library to interact with some gsuite products. So naturally I want to split up different parts of my project as to embrace micro service architecture that comes with lambda. So here comes my problem, I want to have a Authenticator lambda that can return Authentication to other lambdas, however when using `service_account_creds.with_subject

[2021-02-09 15:54] busunkim96 commented on #688
Hi,

The library doesn't provide a way to export the service account credentials. If you want to re-create the service account you would need the original service account JSON object downloaded from https://console.cloud.google.com.  https://googleapis.dev/python/google-auth/latest/reference/google.oauth2.service_account.html#google.oauth2.service_account.Credentials

@arithmetic1728 Could you adv

[2021-02-10 00:23] DaniyalDhz commented on #687
the problem is that I don't want to get a list or else I would've just look at my db but rather for the contacts to be automatically added to contact.google.com of the email to avoid any duplications

[2021-02-10 20:10] DaniyalDhz commented on #687
lastly, as I couldn't find any answer on google:
if I "reset" my client secret key for my OAuth project, would I have to reapply for verification?

[2021-02-10 20:24] DaniyalDhz commented on #687
![Screen Shot 2021-02-10 at 3 24 03 PM](https://user-images.githubusercontent.com/58639693/107567739-0fe6c780-6bb4-11eb-99d1-dfe75a186786.png)

[2021-02-10 20:58] busunkim96 commented on #687
@DaniyalDhz Please try one of the methods mentioned in https://github.com/googleapis/google-api-python-client/issues/1177 for getting in contact with the OAuth API verification folks.

[2021-02-11 15:06] isidentical opened #690 "service_account.Credentials is always invalid"
Since it doesn't contain a `token`, `credentials.valid` will always result with `False` (even if it is not expired)
https://github.com/googleapis/google-auth-library-python/blob/c731424c7edd15c92fb4b62043ae8e19d8e692e9/google/auth/credentials.py#L71-L78

[2021-02-11 15:49] busunkim96 commented on #690
Hi,

The code you linked to is the base credentials implementation `google.auth.credentials`. All the credential classes have `refresh` methods that will actually add the token.

For example, since you mentioned service_account:

https://github.com/googleapis/google-auth-library-python/blob/c731424c7edd15c92fb4b62043ae8e19d8e692e9/google/oauth2/service_account.py#L369-L380

Are you having trouble

[2021-02-11 17:04] isidentical commented on #690
Ah, totally my mistake, didn't notice it all. The reason that I stumbeld against it was, it works well without a refresh (when the `token` is None) (on an API client built with `from googleapiclient.discovery import build`). Is it normal that this works will without `.refresh()`?

[2021-02-11 17:05] isidentical commented on #690
When I try to refresh it like this;
[code]
it justs popes out a weird exception (have to repeat, this credentials object works just fine without refresh)
[code]

[2021-02-11 17:38] busunkim96 commented on #690
The Google libraries will handle refreshing for you. In other words, there's no need to call `refresh` manually, since it it will happen automatically on the first API call.

For google-api-python-client:

- https://github.com/googleapis/google-api-python-client/blob/91b61d3272de9b5aebad0cf1eb76ca53c24f22f9/googleapiclient/discovery.py#L566-L567
- https://github.com/googleapis/google-api-python-cl

[2021-02-12 03:57] nitishxp opened #696 "google.auth.exceptions.RefreshError: ('invalid_grant: Invalid JWT Signature.', '{"error":"invalid_grant","error_description":"Invalid JWT Signature."}')"
Hi, I am using Cloud function for running the code, i am these lib

google-cloud-bigquery==1.26.1
google-auth==1.24.0
google-api-python-client==1.12.8

I am getting bellow error when i am trying to create multiple tables/inserting data using thread

`
574, in _call_api return call() File "/layers/google.python.pip/pip/lib/python3.8/site-packages/google/api_core/retry.py", line 281, in retry_wrappe

[2021-02-12 08:43] isidentical commented on #690
Thanks, issue is resolved when the scopes are provided!

[2021-02-12 08:43] #690 closed

[2021-02-15 20:26] sybrenstuvel commented on #667
I'm the author of the [RSA package](https://github.com/sybrenstuvel/python-rsa). As you can see in sybrenstuvel/python-rsa#173, there is a problem where attributes on the key objects are missing:

[code]

Is Google Auth creating the keys in some non-standard way? The `self.blindfac` attribute is set in the key's `__init__()` function, so I don't see how it could be missing.

[2021-02-16 15:38] jamescooke commented on #667
After looking at the RSA code and @sybrenstuvel 's patch, I would like to reinstate my original comment:

Is there any chance that the `_key` might not have been initialised correctly given the changes that introduced the `blindfac` attr?

Running the updated `rsa==4.7.1` gives a new error: `AttributeError: mutex` < both this attr and `blindfac` are is initialised in `AbstractKey.__init__()` which

[2021-02-16 15:42] greshilov opened #700 "Session argument for aiohttp request object is ignored"
#### Environment details

  - OS: Linux
  - Python version: 3.9
  - pip version: 20.2.3
  - `google-auth` version: 1.26.1

#### Steps to reproduce
Consider the following example:
[code]
This code will raise `AssertionError`, because the session argument is ignored in the `Request` object.
https://github.com/googleapis/google-auth-library-python/blob/aeab5d07c5538f3d8cce817df24199534572b97d/google/

[2021-02-16 16:58] DaniyalDhz opened #702 "How to check if user has been authenticated from google OAuth 2.0 web server"
This [SO1](https://stackoverflow.com/questions/12262198/logged-in-on-both-a-website-and-a-chrome-extension) mentioned that the best way to secure a website from API calls is to check whether the user is logged in/authenticated before accepting any API Calls. In my case, I am using google OAuth 2.0 to login and access user's calendar.

After countless hours on checking how to log out a user with go

[2021-02-17 00:56] busunkim96 commented on #667
@jamescooke @sybrenstuvel Thank you both for the analyses. 🙏  I'm not very familiar with this bit of the codebase so I will have to take a closer look.  I will provide an update tomorrow.

[2021-02-17 01:10] busunkim96 commented on #667
For anyone who's seeing this, could you try installing `cryptography`? google-auth will prefer `crytography`'s RSA implementation when it's available. https://github.com/googleapis/google-auth-library-python/blob/d4d7f3815e0cea3c9f39a5204a4f001de99568e9/google/auth/crypt/rsa.py#L18-L30

I'm wondering if the library does something incorrect with keys that only manifests in a multithreaded or multip

[2021-02-17 15:57] jamescooke commented on #667
Hi @busunkim96 , after installing `cryptography` and removing `rsa`, I get a new error when running the same code in our work project:

[code]

Some context - `waluigi` is our vendored wrapper around Luigi. We're using `luigi.contrib.gcs`'s `put_multiple()` to upload multiple files in parallel to GCS.

It looks like the `_cffi_backend.FFI` objects are from https://github.com/cffi/cffi which is req

[2021-02-17 22:50] Faqa opened #707 "Silent dependency on urllib3 in _aiohttp_requests"
#### Environment details

  - OS: OSX, Linux
  - Python version: 3.7
  - pip version:
  - `google-auth` version: 1.24.0

#### Steps to reproduce

  1. Setup a clean virtualenv
  2. pip install google-auth==1.24.0 aiohttp==3.5.4 (version I happen to be using)
  3. Run "from google.auth.transport import _aiohttp_requests" in a python3 session

You should get a ModuleNotFoundError for "urllib3"

[2021-02-17 22:55] busunkim96 commented on #706
Hi @donantoniosantos,

I moved this into the Python `google-auth` library repository since this is a question about the Python libraries. It looks like you're trying to fetch a token from the metadata server. https://googleapis.dev/python/google-auth/latest/user-guide.html#compute-engine-container-engine-and-the-app-engine-flexible-environment

The easiest way to get a valid credential object in a

[2021-02-17 23:03] Faqa commented on #707
(I see there's also a silent dependency there on `requests` - maybe you just intend for the exception on requests not being installed to go off first?)

[2021-02-18 16:13] busunkim96 commented on #707
Hey @Faqa,

Before aiohttp_requests we didn't have `urllib3` or `requests` as hard dependencies and assumed that folks would install one or both as needed after seeing one of these error messages:

https://github.com/googleapis/google-auth-library-python/blob/65074d3fbe488b95923dfa8335d071fa90bf383f/google/auth/transport/requests.py#L25-L35

https://github.com/googleapis/google-auth-library-python

[2021-02-18 17:31] busunkim96 commented on #696
Closing as a duplicate of #667

[2021-02-18 17:31] #696 closed

[2021-02-18 19:27] arithmetic1728 commented on #551
`pyopenssl` is only needed if mTLS feature is enabled (disabled by default). To enable the feature, GOOGLE_API_USE_CLIENT_CERTIFICATE environment variable has to be set to "true". More details see https://google.aip.dev/auth/4114.

It is added to extra in #697

[2021-02-18 19:27] #551 closed

[2021-02-18 20:22] busunkim96 commented on #667
Thanks @jamescooke! It looks like that creates some other problems we'll have to look into separately.

I haven't tracked down what the cause is, but here is how a service account credential gets initialized, starting from `from_service_account_file`. Please holler if anything here looks odd. :)
https://github.com/googleapis/google-auth-library-python/blob/65074d3fbe488b95923dfa8335d071fa90bf383f/

[2021-02-18 23:32] busunkim96 commented on #667
### **PSA**:

Anyone who was seeing "Invalid JWT Signature" with `rsa==4.7` in a multithreaded context with one of the `google-cloud-*` client libraries, please upgrade to  **`rsa==4.7.1`** which fixes the issue.

---

For the multiprocessing error, I've managed to recreate the `AttributeError: mutex`. If I'm reading https://github.com/spotify/luigi/blob/31d98156a5e044d643184fd153677e828b2a6e3e/lu

[2021-02-19 00:14] busunkim96 opened #709 "Docs haven't been published for google-auth > 1.22.0"
https://googleapis.dev/python/google-auth/latest/ is stil https://googleapis.dev/python/google-auth/1.22.0/. Current library version is 1.27.0.

Fix the docs job and publish 1.27.0.

[2021-02-19 00:30] busunkim96 commented on #667
`PrivateKey`seems to be missing  `self.mutex` after it's unpickled. Calling `AbstractKey.__init()` in  [`PrivateKey.__setstate__()`](https://github.com/sybrenstuvel/python-rsa/blob/758562f004ead1c999b297334d552b57404c21d2/rsa/key.py#L426-L428)  seems to fix it for my example.

[code]

[2021-02-19 01:09] busunkim96 commented on #667
Opened https://github.com/sybrenstuvel/python-rsa/pull/178

[2021-02-19 18:26] #673 closed

[2021-02-22 12:54] andytheapedemontague commented on #673
Thanks @arithmetic1728 will look for that in the next release.

[2021-02-22 17:00] merwok commented on #551
Hello!  Could the extra (existence and role) be documented in the readme or changelog?

[2021-02-23 20:31] mgmanzella commented on #663
I've encountered the same issue (under the same environment conditions the author originally posted) and I was wondering if anyone had found a workaround? Is there a version of the library that doesn't have this issue? Thanks in advance!

[2021-02-24 15:09] jamescooke commented on #667
@busunkim96 Thanks for the PR above. `rsa==4.7.2` has been released by @sybrenstuvel and is working in our project with multiprocessing and luigi 👍🏻

[2021-02-24 15:44] busunkim96 commented on #667
Hooray!

It looks like this is resolved now. Anyone who was pinning to an older version, please upgrade to `rsa==4.7.2`. :)

[2021-02-24 15:44] #667 closed

[2021-02-24 17:09] sybrenstuvel commented on #667
Thanks for collaborating on this, people! 🥳 🎈

[2021-02-26 01:15] busunkim96 commented on #709
[code]

[2021-02-26 18:30] busunkim96 commented on #709
1.27.0 has been published, will work on backfiling the rest later today.

[2021-03-01 20:20] crwilcox opened #712 "401 Request had invalid authentication credentials. Seems maybe creds aren't refreshing often enough?"
https://github.com/googleapis/python-firestore/issues/130

We have reports for firestore that containers that go idle and come back are having expired auth. It seems this may be an issue in this library?

### Steps to reproduce
This is a very weird one to reproduce. What is happening is that I deploy my docker container to Google Cloud Run and for some time everything works fine. I do successfully

[2021-03-02 17:14] busunkim96 commented on #712
Hmm that's odd. I assume they're using the default service account that's attached to the instance? https://cloud.google.com/run/docs/securing/service-identity

`before_request` gets called on every request, and it checks if the credential is still valid. If it's not valid, the credentials are (supposed to be) refreshed.

https://github.com/googleapis/google-auth-library-python/blob/91ee7a1b634c15

[2021-03-02 18:49] crwilcox commented on #712
How does this interact with a stream that is hibernated? Is it possible they were mid request? I am not sure if this using streaming calls, but can look into it.

[2021-03-02 18:52] busunkim96 commented on #712
Ah streaming! Good to know. I'm not sure where the refreshing would happen with a streaming request

[2021-03-02 21:08] arithmetic1728 commented on #712
Where is the `stream()` method defined? Sorry I know nothing about streaming.

[2021-03-02 22:04] busunkim96 commented on #712
Looks like https://github.com/googleapis/python-firestore/blob/0ae32cea8aa344825d29cc040069777162647780/google/cloud/firestore_v1/collection.py#L171-L209

[2021-03-03 21:01] failure-checker[bot] opened #713 "Warning: a recent release failed"
The following release PRs may have failed:

* #710

[2021-03-04 17:10] yaseenlotfi commented on #663
My workaround was basically to implement my own check if the app is running locally vs a Cloud environment. Makes a request to compute metadata server and check the header. I assume it's from Google if there is a header called "Metadata-Flavor". Unfortunately, the status code is 200, either way.

Knowing which environment you're in allows you do replicate the auth workflow on you own ie try to get

[2021-03-04 18:00] #713 closed

[2021-03-06 04:21] Ark-kun opened #715 "Default credentials fail to work"
`gcloud` commands work on my machine. However in python any requests fail at authorization.

It looks like the default auth uses some service account instead of the default user account.

[code]

[code]

`gcloud auth list` shows two accounts. The active one is my user account. The other one is the account from the error message.

#### Environment details

  - OS: Linux
  - Python version: 3.8.7

[2021-03-08 15:46] busunkim96 commented on #715
Hi,

Are you running the code within a Google runtime (App Engine, Compute Engine, Functions) or locally?

[2021-03-10 10:41] mijamo commented on #580
I have tried many things but so far I haven't found a way to make the impersonation work when coming from a Compute Engine Credentials. Trying to use the impersonated_credentials always fails with a 404 error. The only thing that worked was to manually use this answer from StackOverflow: https://stackoverflow.com/a/57092533

I think this should be handled by this library directly because that solu

[2021-03-11 15:39] michaelblyons opened #720 "Dependency chain did not install `rsa`"
#### Environment details

  - **OS:** MacOS Catalina
  - **Python version:** 3.7
  - **pip version:** Pipenv 2020.11.15
  - **`google-auth` version:** Unsure how to find this.

#### Steps to reproduce

Basically it's the return of #548, but I think it just didn't install `rsa` as a dependency.

  1. `pip install google-auth-oauthlib`
  1. `python -c "from google.auth.crypt import _cryptography_rsa

[2021-03-11 15:56] busunkim96 commented on #604
@arithmetic1728 provided this work-around in an internal bug.

https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/compute_engine/_metadata.py#L58

I've changed this to a "feature request" to capture getting the auth library to work nicely in this situation without the user having to set any environment variables.

[2021-03-11 20:47] crwilcox commented on #712
Updates have come in on the issue that spawned this. It seems the case is

1) start stream in cloud run (really any container)
2) suspend/pause for > 60 minutres
3) unpause
4) fails.

This is likely due to the credentials attached to the stream are now stale and haven't been refreshed.

[2021-03-12 16:21] busunkim96 commented on #720
Hi @michaelblyons,

When I install `google-auth-oauthlib` `rsa` seems to be installed as expected. Could you try this as well?
1. `python3 -m venv env`
2. `source env/bin/activate`
3. `pip install google-auth-oauthlib`
4. `pip freeze`

[code]

I can reproduce this the failure from `python -c "from google.auth.crypt import _cryptography_rsa"` but I think that is actually because `cryptography` is n

[2021-03-16 01:31] Avnsx opened #724 "Support Request: Authenticate through Raw Python Request?"
Hello guys I'm trying to authenticate my python code to google and I've read through this entire page; https://google-auth.readthedocs.io/en/latest/user-guide.html and as far as I see there's no simple way I could just authenticate my python code to google, without having to use the "Credentials page of the Google Cloud Console" and adding some kind of api key or similar there. So I am wondering i

[2021-03-16 14:53] busunkim96 commented on #724
Hi @Avnsx,

Which API are you using?

If you are developing locally with an API that accepts end user credentials, https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login is one option.

The credentials produced by that command will get picked up by the auth library and used by default.

However depending on the API you may have to set up https://developers.google.com/identity

[2021-03-16 20:22] #724 closed

[2021-03-16 22:54] jessebrennan commented on #551
Even better, it would be great if the exception message referenced the extra.

[2021-03-16 22:55] merwok commented on #551
Well to me it’s better to know about this in the release notes to do something before the code is deployed and causes an error message!

[2021-03-26 18:37] hiranya911 opened #725 "jwt.encode() overrides the algorithm specified by the caller"
The `jwt.encode()` function always set the `alg` JWT header to either ES256 or RS256, even if the caller had specified an explicit algorithm:

https://github.com/googleapis/google-auth-library-python/blob/48e8be3d59a47493e60f5b5d9f284b300979a11c/google/auth/jwt.py#L98-L101

This function should only set the `alg` header when the caller hasn't specified one. This is required to support some use cas

[2021-03-26 18:44] hiranya911 commented on #725
It might also make sense to read the exact `alg` header to use from the `google.auth.crypt.Signer` interface, since those concepts are close related. Something like:

[code]

Let me know if this makes sense, and I'd be happy to provide a PR to this effect.

[2021-03-29 14:45] busunkim96 commented on #725
@arithmetic1728 @silvolu PTAL

[2021-03-29 17:27] hiranya911 commented on #725
Also adding @yuchenshi and @samtstern from Firebase for visibility.

[2021-04-05 16:55] thinkerbot opened #728 "fetch_id_token credential lookup is inconsistent with default credentials"
#### Environment details

  - OS: linux
  - Python version: 3.9.1
  - pip version: 20.3.3
  - `google-auth` version: 1.27.0

#### Steps to reproduce

Please double check but looks like...

1) In the [docs/implementation](https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/_default.py#L354) of `google.auth.default()` the check for `GOOGLE_APPLICATION_CREDENTIALS` occurs

[2021-04-06 14:02] aman-sai commented on #464
@nikoloutsa did you find a work around for it?. I too have the same problem forwarding requests through a proxy

[2021-04-06 19:22] arithmetic1728 commented on #728
@thinkerbot I will take a look. Thanks!

[2021-04-07 15:23] busunkim96 commented on #728
@arithmetic1728 Could you triage this to appease the bot? 😄

[2021-04-07 18:56] arithmetic1728 commented on #728
I think maybe we can introduce a new method to create an id token credentials out of the default credentials, for instance, `def create_id_token_credentials(creds, audience)`, so users can do:

[code]

Let's close this one and use #590 for tracking instead.

[2021-04-07 18:56] #728 closed

[2021-04-08 00:12] arithmetic1728 commented on #725
@hiranya911 I created a PR to use `alg` from header if provided.

[2021-04-08 15:47] pPanda-beta commented on #644
/keep_fresh

[2021-04-08 17:58] #725 closed

[2021-04-09 07:56] nikoloutsa commented on #464
For my case the workaround was to hard-code the payload url inside: `site-packages/google/oauth2/service_account.py`

Just search for the `"aud": self._token_uri` and set the correct url, you will find it in two places

[code]

[code]

Not sure if this is the best fix, but for my cases seems to work flawlessly.

[2021-04-12 14:23] tswast commented on #363
Closing as infeasible per discussion quite a while ago. Any kind of caching of credentials is prone to issues.

[2021-04-12 14:23] #363 closed

[2021-04-14 01:45] derpferd opened #732 "Allow multiple audiences for `id_token.verify_token`"
**Is your feature request related to a problem? Please describe.**
When decoding with `google.oauth2.id_token.verify_token` it only excepts one expected audience. This could be an issue when using Cloud IAP, which may require multiple audiences.
 **Describe the solution you'd like**
`verify_token` could allow audience to be a list or a str. If a list verify that the audience is in the list of expe

[2021-04-14 14:39] busunkim96 opened #734 "Clean up App Engine versions in system tests"
App Engine cannot have more than 210 versions. The system tests should cleanup versions it creates.

[code]

[2021-04-15 08:28] #732 closed

[2021-04-20 11:15] nitishxp opened #737 "google.auth.exceptions.TransportError not being retried"
I am finding below error in one of my production environement the sdk should need to retry by default but its not retrying.
I am trying to access a bucket in Cloud function python38 environment

My  package version
google-auth==1.24.0
google-cloud-storage==1.36.2

Error in app: Exception Traceback (most recent call last): File "/layers/google.python.pip/pip/lib/python3.8/site-packages/urllib3/conn

[2021-04-20 14:48] busunkim96 commented on #737
Hi @nitishxp,

Could you share more context about when you see this error? Is it every time the function is executed, or only under certain circumstances?

Would you be able to share the call to the storage library as well?

[2021-04-20 15:15] nitishxp commented on #737
This is the code that i am using in cloud function its the first part the Cloud function executes

[code]
Its not frequent but we r getting this in production system of ours

[2021-04-20 16:05] busunkim96 commented on #737
It looks like `requests.ConnectionError` is in the [list of retryable types](https://github.com/googleapis/python-storage/blob/440a0a4ffe00b1f7c562b0e9c1e47dbadeca33e1/google/cloud/storage/retry.py#L29) for the storage library, so the storage library intends for it to be retried.

I think it isn't actually being retried because google-auth re-wraps that error as a [`google.auth.exceptions.Transpor

[2021-04-20 16:05] #737 closed

[2021-04-23 03:33] lululi commented on #579
@davidwtbuxton I seem to still run into this problem in python 37 when using default credentials:
[code]
When running on app engine standard env(Py3), I'm still getting "Request had insufficient authentication scopes."
Any pointers?

[2021-04-23 10:19] nitishxp opened #739 "google.auth.exceptions.TransportError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))"
Hi,

I am using using Cloud function to call google api. Below is the version of of auth package that i am using

google-auth==1.24.0

Below is the error that i am getting

`Error while updating environment ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')) Traceback (most recent call last): File "/layers/google.python.pip/pip/lib/python3.8/site-packages/u

[2021-04-23 14:48] busunkim96 commented on #739
Hi @nitishxp,

Can you provide more detail on when the error appears/how often it happens? There are some known issues with client connections going stale in Cloud Functions depending on the invocation pattern.

It looks like `Connection aborted` is not currently in the list of retried errors, but you can customize this when you create the `AuthorizedSession`.

https://github.com/googleapis/google

[2021-04-23 14:58] busunkim96 commented on #579
@lululi Please open new issue rather than commenting on closed issues (repo maintainers are more likely to miss comments on closed issues).

Please review https://developers.google.com/calendar/auth for authenticating to the Calendar API. It's possible the calendar API method you are using requires additional scopes.

[2021-04-23 15:02] nitishxp commented on #739
Hi @busunkim96
The error was not frequent but we got many of those errors in production system in past 2 days. The invocation of CF is pub sub based.

I would be glad if you can add ConnectionError in list of retry codes since i reach out individually to python-bigquery and python-storage to added this to there list of retry.

[2021-04-23 20:55] arithmetic1728 commented on #739
@busunkim96 Yes, I think it makes sense to retry on `Connection aborted` by default in `google-auth`, so the client libraries don't need to do so individually.

[2021-04-26 12:59] jay0lee opened #742 "new reauth API cannot be enabled"
### Steps to reproduce
1. ensure reauth is enabled for the given Google user
2. ensure a cloud scope like Google Cloud Storage is included in the refresh token scopes.
3. ensure the reauth scope is included in the refresh token scopes: `https://www.googleapis.com/auth/accounts.reauth`
4. Wait for token to reach reauth time set in 1.

### Expected results
reauth prompt (password or security key)

#

[2021-04-26 20:31] arithmetic1728 commented on #742
Updated the release note in #741 to clarify that reauth is an internal feature for gcloud only.

[2021-04-26 20:31] #742 closed

[2021-04-27 19:15] busunkim96 opened #744 "Don't warn when gcloud credentials are used"
The library raises a warning when folks use gcloud SDK credentials.

I believe it should be removed, given updated guidance in https://cloud.google.com/docs/authentication/best-practices-applications

https://github.com/googleapis/google-auth-library-python/blob/04c870a5bcc2c25433774a27280505d3413550e3/google/auth/_default.py#L60-L70

CC @silvolu @arithmetic1728

[2021-04-27 20:29] silvolu commented on #744
The warning is still accurate: APIs that don't have a surface in the gcloud CLI won't work, and the quota is shared across all users so there could be quota exceeded errors.
The new guidance is consistent with the warning, as it says to specify a user owned billing project or client ID.

[2021-04-27 22:52] arithmetic1728 commented on #744
@busunkim96 This seems to be the right behavior. The gcloud users need to add `quota_project_id` to their `~/.config/gcloud/application_default_credentials.json` file, then the warning will go away.

I think if the user logs in again via `gcloud auth application-default login`, then the new json file will automatically have this field (it works for me). If this doesn't work, then the quota project

[2021-04-27 22:53] busunkim96 commented on #744
Thanks all, I completely forgot that the warning was updated to be more specific. :)

CC @tseaver

[2021-04-27 22:53] #744 closed

[2021-04-28 01:38] nitishxp commented on #739
@busunkim96

Will the below connectionError will be fixed in this bug?

`"/layers/google.python.pip/pip/lib/python3.8/site-packages/google/cloud/bigquery/client.py", line 561, in create_table api_response = self._call_api( File "/layers/google.python.pip/pip/lib/python3.8/site-packages/google/cloud/bigquery/client.py", line 574, in _call_api return call() File "/layers/google.python.pip/pip/lib/py

[2021-04-28 01:38] nitishxp commented on #739
@busunkim96

Will the below connectionError will be fixed in this bug?

`"/layers/google.python.pip/pip/lib/python3.8/site-packages/google/cloud/bigquery/client.py", line 561, in create_table api_response = self._call_api( File "/layers/google.python.pip/pip/lib/python3.8/site-packages/google/cloud/bigquery/client.py", line 574, in _call_api return call() File "/layers/google.python.pip/pip/lib/py

[2021-04-28 11:44] lechen26 opened #745 "MetadataAPI errors"
Hi

we've switched a month ago to GKE workload identity which from my understanding prevents the use of the MetadataAPI.
until now we were using google-cloud-logging-handler==1.3 and now we've added also google-cloud-secret-manager==2.4.0

now we get the following error:
[code]
the thing is, the workload is able to use the Secret Manager and to fetch the secrets, etc.
the workload includes differe

[2021-04-28 15:56] busunkim96 commented on #745
Hi @lechen26,

One known issue with Workload Identity is that it takes a few seconds for the metadata server to become available. That can cause issues for client libraries which expect the metadata server to be available within a shorter timeframe. See https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#troubleshoot-timeout

Setting the environment variable `GCE_METADATA_TIME

[2021-05-02 07:53] lechen26 commented on #745
Thanks @busunkim96 .

i've tried the GCE_METADATA_TIMEOUT and it doesnt seems to look on it.

while setting on the deployment GCE_METADATA_TIMEOUT=60 i see the following log:
[code]

you can see that after 11 sec it throws the exception.
10x

[2021-05-03 08:22] lechen26 commented on #745
Hi @busunkim96 @arithmetic1728

while reading the code here `google-auth-library-python/google/auth/compute_engine/_metadata.py`  seems like the timeout indeed shouldnt help me here as the problem is Not that the Metadata Serveris notreachable.
the Excexption thrown after recieveing response from the metadata server which is later seen as 'HTTP 404: Not Found'

every time new Pod starts i see this

[2021-05-03 20:47] arithmetic1728 commented on #745
@lechen26 Maybe at the very beginning of your app, you can do:
[code]
Here `google.auth.compute_engine._metadata.ping(req)` will try to ping the metadata server for 3 times with a timeout of `GCE_METADATA_TIMEOUT` seconds (so it will delay the app for at most 3*3=9 seconds). Let me know if this works for you. Thanks!

[2021-05-04 10:30] nitishxp commented on #739
@busunkim96 Could you also add https://github.com/googleapis/python-bigquery/blob/6a48e80bc7d347f381b181f4cf81fef105d0ad0d/google/cloud/bigquery/retry.py#L26 in list of retry

[2021-05-04 14:42] busunkim96 commented on #739
@parthea added the retries to the api-core layer, so they don't need to be retried here.

We ultimately decided to put them in api-core as it is easier for the end user to adjust, and api-core already has retry/timeout logic built in.

[2021-05-04 14:42] #739 closed

[2021-05-04 15:49] nitishxp commented on #739
@busunkim96 https://docs.python.org/3/library/exceptions.html#ConnectionError

[2021-05-05 16:32] jceresini opened #746 "Inconsistencies when fetching id tokens"
#### Environment details

  - OS: Macos
  - Python version: 3.7.8
  - pip version: 20.1.1
  - `google-auth` version: 1.30.0

#### Steps to reproduce

  1. Run the example code on a compute instance running as a given service account
  2. Note that the `azp` field in the token is the `unique_id` of the service account
  3. Export a service account key for the same service account, and save it local

[2021-05-05 17:20] jceresini opened #747 "Authentication priority issue with fetch_id_token"
According to the Google Cloud documentation, the environment variable `GOOGLE_APPLICATION_CREDENTIALS` takes priority over environment-specific credentials such as a compute instance's service account:

https://cloud.google.com/docs/authentication/production

However if you use `google.oauth2.id_token.fetch_id_token`, it always favors the environment's credentials:

https://github.com/googleapis/g

[2021-05-05 19:19] arithmetic1728 commented on #746
@parthea This is server side issue. It looks like compute engine metadata server and service account token endpoint have different implementations. The library itself just queries the corresponding endpoint to get tokens and it has limited control of what the token looks like.

[2021-05-05 19:21] arithmetic1728 commented on #747
duplicate of #663

[2021-05-05 20:18] jceresini commented on #747
The other issue talks about an exception being raised. I'm saying the order is backwards from the documented credentials lookup order.

[2021-05-06 17:45] #706 closed

[2021-05-12 23:14] arithmetic1728 commented on #702
Closing the issue since session management is not related to auth library. Auth lib is only used to fetch tokens.

[2021-05-12 23:14] #702 closed

[2021-05-12 23:15] arithmetic1728 commented on #745
Closing the issue. Please reopen the issue if the problem persists. Thanks.

[2021-05-12 23:15] #745 closed

[2021-05-15 23:20] Puyush6889 commented on #386
@taewookim did you ever get this part of the question answered?
`Is this because the app is still in unverified status?`

I have a similar issue where the refresh token expire in 1hr but I don't see in docs anywhere the app has to be verified.

[2021-05-19 13:08] George-Kihara opened #753 "ERROR: The caller does not have permissions for firebase Dynamic link Analytics Rest API"
I keep getting this error:

{
    "error": {
        "code": 403,
        "message": "The caller does not have permission",
        "status": "PERMISSION_DENIED"
    }
}

[2021-05-19 16:52] danoscarmike commented on #753
Hi @George-Kihara, thanks for reaching out!

If you can provide us a little more detail we might be able to help.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened: https://github.com/googleapis/google-auth-library-python/issues

If you are still having issues, please let us know the following details:

#### Environment de

[2021-05-19 18:44] parthea commented on #707
@busunkim96 Please can you take a look?

[2021-05-19 18:45] parthea commented on #644
Hi @arithmetic1728 ,
Please can you take a look?

[2021-05-19 19:13] arithmetic1728 commented on #644
It doesn't look like there is a problem here. For IAM signer,

(1) the signing service account email is specified in the url `https://iamcredentials.googleapis.com/v1/{name=projects/*/serviceAccounts/*}:signBlob`. IAM server owns the specified service account, it finds the key in the server side, signs it and returns the signature.

see: https://cloud.google.com/iam/docs/reference/credentials/rest

[2021-05-20 08:03] arithmetic1728 commented on #644
@pPanda-beta Does this walkaround work for you? This walkaround uses the `default` service account. Does it cause any errors?

It seems to me the fix you want is replacing

https://github.com/googleapis/google-auth-library-python/blob/bc92abbce5e0a5e7b5de8157e7772db84349a6cb/google/auth/compute_engine/credentials.py#L231

with
[code]

I guess the problem you are facing is there are multiple servic

[2021-05-21 08:34] George-Kihara commented on #753
Hi @danoscarmike.

Environment:
Os : MacOs
Python version: 3.8.2
pip version: 19.2.3
google-auth version: 1.30.0

Here's the code i'm running:
[code]

I keep getting this error:
[code]

[2021-05-21 17:09] mik-laj commented on #720
[code]

[2021-05-21 17:21] busunkim96 commented on #720
Thanks for the repro @mik-laj!

@michaelblyons Since this issue has not had activity for over a month I am going to go ahead and close it. Please open a new issue if you are still experiencing problems.

[2021-05-21 17:21] #720 closed

[2021-05-21 17:38] danoscarmike commented on #753
Take a look at https://github.com/googleapis/google-api-dotnet-client/issues/1448. Could be you need to set a specific IAM role on your service account.

[2021-05-25 00:16] #707 closed

[2021-05-25 12:25] MarcoMatta opened #758 "FROM credentials_from_clientsecrets_and_code ( oauth2client) TO google-auth"
My code is:

[code]

I need to update it, the flow is this https://developers.google.com/identity/sign-in/web/server-side-flow but the documentation is old.

I'm jumping from one page to another and more I read and less I understand.

Then I need to understand how get a new access_token, now my code is

[code]

I would like to use the client lib because I use the api to retrieve reviews from googl

[2021-05-25 12:30] MarcoMatta commented on #758
I tryed this code
[code]

I get this errore:

[code]

[2021-05-25 14:11] tseaver opened #759 "'testing/constraints-*.txt' not used"
From #757.

In [`noxfile.py`](https://github.com/googleapis/google-auth-library-python/blob/a9234423cb2b69068fc0d30a5a0ee86a599ab8b7/noxfile.py#L87-L89), the constraints are not being used, which is why the one populated file, [`testing/constraints-3.6.txt](https://github.com/googleapis/google-auth-library-python/blob/master/testing/constraints-3.6.txt) is in an invalid state (multiple entries for

[2021-05-25 15:57] #759 closed

[2021-05-25 16:13] busunkim96 commented on #758
Hi @MarcoMatta,

https://developers.google.com/identity/protocols/oauth2/web-server#python_6 has the most up-to-date and thorough end-to-end example for web-server (it shows an example Flask App).

If you're running a script locally, the [Installed App Flow](https://googleapis.dev/python/google-auth-oauthlib/latest/reference/google_auth_oauthlib.flow.html#google_auth_oauthlib.flow.InstalledAppFlow

[2021-05-25 16:41] MarcoMatta commented on #758
Solution: **redirect_uri="postmessage"**, I don't know why!

[code]

Some advice for refresh token?

[2021-05-25 23:32] busunkim96 commented on #758
Hi @MarcoMatta,

For the refresh token, you can get it through `credentials.refresh_token`. You should make sure to save it somewhere if you're looking to refresh the credentials.

If you're sending calls through the `requests` library, the Auth library provides an Authorized Session. If you use the session the auth header gets added automatically.

Here's a small snippet that will work for local

[2021-05-26 07:20] MarcoMatta commented on #758
I'm using https://developers.google.com/identity/sign-in/web/server-side-flow :

![immagine](https://user-images.githubusercontent.com/3217840/119617962-a60cc980-be02-11eb-8aed-a7c0b35d9463.png)

I have already **code** obtained from my react app during user login, and the server are stateless. Your answer not respond to my question, for example why I have to use **redirect_uri="postmessage"** and

[2021-05-26 15:01] busunkim96 commented on #758
Ah sorry about that. I looked at your code snippet and assumed you were using the web-server flow.

Glad to hear you resolved it yourself. I'll file a bug asking for the code example on that page to be updated to google-auth.

[2021-05-27 07:12] MoSehsah commented on #50
Any Update on this ?

[2021-05-27 16:10] liuchaoren opened #762 "ADC can load a json of impersonated service account credentials generated by gcloud"
google-auth-library-java supported ADC impersonation and it is proposed in aip-dev/google.aip.dev#728.

[2021-06-03 23:40] busunkim96 opened #769 "google.auth.default(quota_project_id="..") still results in end user credentials warning"
`quota_project_id` is not currently passed through to `_get_gcloud_sdk_credentials`. This bit of code still results in the end user credentials warning:

[code]

https://github.com/googleapis/google-auth-library-python/blob/09e0389db72cc9d6c5dde34864cb54d717dc0b92/google/auth/_default.py#L177-L195

https://github.com/googleapis/google-auth-library-python/blob/09e0389db72cc9d6c5dde34864cb54d717dc0b

[2021-06-10 19:01] tpdownes opened #773 "JWT decoding depends upon deprecated function"
#### Environment details

  - OS: Debian 11 (bullseye)
  - Python version: 3.9.2
  - pip version: 20.3.4
  - `google-auth` version: 1.30

#### Steps to reproduce

Decode a JWT token from Google Cloud Identity-Aware Proxy

#### Error

The following deprecation warnings are issues from the `cryptography` library:

[code]

The changes necessary seem self evident. The [function in question][frombytes]

[2021-06-16 14:27] #606 closed

[2021-06-16 14:31] tseaver opened #777 "Drop Python 2.7 support"
This would be semver major.

We should verify that clients which cannot move already pin `google.auth < 2.0.0dev` directly, or transitively.

Extra cleanups:

.- ~~Drop `mock` wrapper (use `from unittest import mock` directly).~~ We cannot drop `mock` because Python 3.6 / 3.7 do not have `unittest.mock.AsyncMock` in the stdlib.
- [x] Drop `six`.
- [x] Drop `u"` prefixes for text strings.

[2021-06-16 14:38] tseaver commented on #636
@busunkim96 fixed the second half of this issue in b1a12d2d.

[2021-06-24 14:56] parthea commented on #658
@busunkim96 ,  This is possibly solved by https://github.com/googleapis/python-cloud-core/pull/100 . WDYT?

[2021-06-28 14:01] parthea commented on #658
@tseaver Please can you take a look?

[2021-06-28 15:19] fisakhan opened #786 "Version Compatibility"
version of google-api-python-client and versions of tensorflow, google-colab, google-auth and six have no compatibility. How can I solve it?
google-colab==1.0.0
tensorflow==2.5.0
tensorflow-cloud==0.1.16

Even after installing the latest version of google-auth, I get the following error.
[code]
In order to solve this problem, I tried to install six==1.13.0 but got the following problem:
[code]
How

[2021-06-29 14:12] parthea commented on #786
Hi @fisakhan,

`google-colab` [which hasn't been updated since 2019](https://pypi.org/project/google-colab/#files), does not appear to be supported (Googlers see b/147454824). Ignoring `google-colab`, you'll need:
`six` version >= 1.15.0
`requests` version >= 2.24.0

I'm going to close this issue but please free free to re-open it if you have additional questions.

[2021-06-29 14:12] #786 closed

[2021-06-29 22:04] tswast opened #787 "if access token is expired / invalid, but refresh token is still valid, requests fail with google.api_core.exceptions.Unauthenticated: 401 Request had invalid authentication credentials"
As stated in the issue title, if access token is expired / invalid, but refresh token is still valid, requests fail with `google.api_core.exceptions.Unauthenticated: 401 Request had invalid authentication credentials`. This could happen if the customer's clock is out-of-sync, for example.

This issue is in response to a customer issue (internal tracker 191460918).

#### Environment details

  - OS

[2021-06-29 22:58] pPanda-beta commented on #644
@arithmetic1728
The line you have mentioned https://github.com/googleapis/google-auth-library-python/blob/bc92abbce5e0a5e7b5de8157e7772db84349a6cb/google/auth/iam.py#L71 should work as expected and use the `self._service_account_email` but unfortunately it is falling back to default service account.

Things get too much ugly when the default fallback starts using gcp's workload identity (extremely

[2021-06-29 23:30] busunkim96 commented on #787
Thank you for the detailed repro!

I think you're correct that this likely needs to be tweaked in google-api-core. I'm not quite sure what the best way to do that is yet. I'd like to check on the auth lib implementations in other languages to see how they handle the 401 case.

**Description of what's happening:**

Since `google-cloud-bigquery-storage` uses the gRPC transport, the  credential refre

[2021-06-30 19:59] #658 closed

[2021-06-30 20:19] Edvard-D opened #791 "AttributeError: module 'grpc' has no attribute 'AuthMetadataPlugin'"
#### Environment details

  - OS: Ubuntu 20.04
  - Python version: 3.8.5
  - pip version: 20.0.2
  - `google-auth` version: 1.32.0

#### Steps to reproduce

1. Download Google Research's [SEED Reinforcement Learning codebase](https://github.com/google-research/seed_rl).
2. Modify the code so that it installs the google-cloud-storage package and imports the google.cloud.storage module at some point

[2021-07-01 15:09] busunkim96 commented on #791
Hi,

It looks like `grpc` is getting successfully imported by `google-cloud-core` (see [code](https://github.com/googleapis/python-cloud-core/blob/6399b8007632088cd60dd77e24ab46850ad958cc/google/cloud/_helpers.py#L36-L40)) but that something goes wrong after that point. `AuthMetadataPlugin` is not a new addition to the `grpcio` package so I don't think it's a version issue.

Could you go into more

[2021-07-01 15:43] Edvard-D commented on #791
Thanks for the reply. google-cloud-storage is installed as follows in a Dockerfile: `RUN pip3 install google-cloud-storage`. It's installed alongside the following packages:
- gym
- aiohttp
- dataclasses
- google-cloud-logging
- tensorflow (v 2.4.1-gpu)
- tensorflow-probability (v 0.11.0)

An example of how the Dockerfile is setup can be found [here](https://github.com/google-research/seed_rl/blob

[2021-07-01 16:02] busunkim96 commented on #791
I wonder if `grpcio` is getting installed a bit differently through `tensorflow`, and the import is getting messed up as a result. 🤔
- Could you do a `pip freeze` at the end of the Dockerfile (if it's possible to see the logs from the container getting built)?
- Could you try adding `grpcio` to the list of packages that are explicitly installed?

[2021-07-01 16:37] Edvard-D commented on #791
Using `pip freeze` I found that `grpcio==1.32.0` was installed. On my system after installing `google-cloud-storage` it had `grpcio==1.34.0`. I tried installing that version explicitly but it produced the same result.

Your comment reminded me that the SEED project actually uses what I believe is a [modified version of gRPC](https://github.com/google-research/seed_rl/tree/master/grpc). This must b

[2021-07-01 19:54] busunkim96 commented on #791
Hmm that might be it.

Would you mind sharing `.sh` and `.py` files to create a basic repro? I don't have quite enough context on AI Platform and this repo to know where I should be making the changes.

[2021-07-02 11:53] Edvard-D commented on #791
My dev machine (VM in Google Cloud) got flagged for crypto mining for some reason, so I need to get that sorted before I use that machine again to make sure it doesn't happen again. Because of this I can't verify this myself, but I believe these changes should trigger the same error:

1. Download seed_rl source code on an Ubuntu/Windows system that has Docker installed.
2. Modify `seed_rl/football

[2021-07-08 15:48] tseaver opened #795 "Refresh token is expired"
See: https://github.com/googleapis/google-auth-library-python/pull/793#issuecomment-875981534

Also the source of the failures for #794.

[2021-07-08 16:51] #795 closed

[2021-07-08 17:33] tseaver opened #797 "Kokoro 'docs-presubmit' jobs fail consistently"
E.g., [this failure](https://source.cloud.google.com/results/invocations/480d5f2b-91f0-45d8-9b71-eb4b5be28fad/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fgoogle-auth-library-python%2Fdocs%2Fdocs-presubmit/log):

[code]

Seems like we need to update `.kokoro/docker/docs/Dockerfile` to get the SDK installed?

[2021-07-12 13:38] Edvard-D commented on #791
This ended up being a problem with some changes I made to the SEED codebase that I had made to work around a different bug. I figured out the correct way to fix the original problem, allowing me to use the methodology the SEED programmers used. That resolved this error for me.

[2021-07-12 13:38] #791 closed

[2021-07-12 20:20] parthea commented on #663
@arithmetic1728 Please can you take a look?

[2021-07-14 06:02] arithmetic1728 commented on #663
@parthea yep, there is a pending PR to fix it #748

[2021-07-14 18:40] #747 closed

[2021-07-14 18:41] #746 closed

[2021-07-14 18:43] #663 closed

[2021-07-14 23:04] busunkim96 commented on #666
Apologies for the late response!

I think the easiest way to take care of this is to re-load the credentials using either `from_authorized_user_info` or `from_authorized_user_file`, as it will handle turning the expiry into a datetime.

https://googleapis.dev/python/google-auth/latest/reference/google.oauth2.credentials.html#google.oauth2.credentials.Credentials.from_authorized_user_info

https://

[2021-07-16 17:22] tseaver commented on #797
Unlike similar changes in other repos, PR #803 did **not** fix the `docs-presubmit` job.

[2021-07-16 17:34] BorjaDiago commented on #464
Same happens to me, but in my case i wont use it in local environment, I need to deploy in App Engine application, so I can't make that change.

It is worth noting that in my credentials file, the variable "token_uri" has the value https://accounts.google.com/o/oauth2/token, that is the same value that the "audience" is supposed to have.

Is there any alternative solution to be able to deploy in p

[2021-07-19 16:13] syphar opened #804 "service account authentication fails after 1.33.0 release"
#### Environment details

  - OS: Linux
  - Python version: 3.9.6
  - pip version: 21.1.3
  - `google-auth` version: 1.33.0

#### Error description

With the update of google-auth to 1.33.0 we saw an error in our environments.

In our case we use a service-account to access google calendars in our org.

In our service-account key we find `"token_uri": "https://accounts.google.com/o/oauth2/token"`,

[2021-07-19 17:18] busunkim96 commented on #804
Thanks for the report! @arithmetic1728 Could you take a look?

I think `https://oauth2.googleapis.com/token` is the current `token_endpoint` (see https://developers.google.com/identity/protocols/oauth2/openid-connect#discovery). Do older keys use different endpoints?

[2021-07-20 08:42] BorjaDiago commented on #464
Hi, I have found my own solution, and it is to change the value of the "token_uri" to https://oauth2.googleapis.com/token.

I guess the google.oauth2 library expects this value instead of https://accounts.google.com/o/oauth2/token, and I noticed this because when creating a new service account for testing, the value of "token_uri" is https://oauth2.googleapis.com/token.

It seems that old service

[2021-07-20 14:49] busunkim96 commented on #804
Hi,

If you're experiencing this issue, please use the prior release `google-auth==1.32.1`. We are working at solutions in the backend.

[2021-07-20 14:50] syphar commented on #804
Thank you for the update! We already had reverted the upgrade, will wait for the next release and the fix.

[2021-07-20 14:53] Mogost commented on #804
We also investigated the issue on our side. In our case, changing the `token_uri` value in the `.json` file helped us.

[2021-07-20 16:21] syphar commented on #804
thanks, that's good to know. I would have expected the token to be signed, so that it fails when these details are changed, that's why I didn't try to change it.

Since there is no rush upgrading the package, we'll just wait for the fix and release

[2021-07-20 16:39] liuchaoren commented on #804
I can reproduce the error only when I set the "subject" filed for domain-wide delegation. Can anyone confirm if domain-wide delegation is used when you see the error?

[2021-07-20 16:42] syphar commented on #804
Yep, in our case the service account has domain wide delegation activated

[2021-07-20 18:02] busunkim96 commented on #804
Revert is under way in https://github.com/googleapis/google-auth-library-python/pull/808, we'll take the change again once b/194191737 is resolved.

[2021-07-20 20:02] vanpelt opened #810 "Impersonated credentials id_token creation to access a service behind IAP"
I've also opened a google support request but figured this would be helpful to other users searching for resolution online.

#### Environment details

  - OS: Mac
  - Python version: 3.7
  - pip version: 20.0.2
  - `google-auth` version: 1.27.0

#### Steps to reproduce

I'm writing a python library that needs to access a service behind the [Identity Aware Proxy](https://cloud.google.com/iap/docs/a

[2021-07-21 04:48] ShwetanshuSingh opened #811 "Bug Report: Exception when calling .upload_from_string()"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-07-22 06:27] syphar commented on #804
just tested the revert with 1.33.1, and it works (which I assumed seeing the code, but still :) )

Thank you for the quick fix!

[2021-07-22 15:38] Nishith95 opened #814 "DefaultCredentialsError after Compute Engine Metadata server failures"
Still seeing the same issue mentioned in https://github.com/googleapis/google-auth-library-python/issues/211

Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run dow

[2021-07-22 15:43] Nishith95 commented on #814
I have seen this as a recommended solution but this is not possible for us at this time. Looking for a fix to the root cause here (metadata server issues)
https://github.com/googleapis/google-auth-library-python/issues/211#issuecomment-369665130

[2021-07-22 16:09] ipear3 opened #815 "google.auth.default ignores provided scopes when application default credentials are an authorized user."
#### Environment details

  - OS: macOS Big Sur version 11.4
  - Python version: 3.8.2
  - pip version: 21.1.3
  - `google-auth` version: 1.33.1

#### Steps to reproduce

  1. Confirm application default credentials are an authorized user (env var GOOGLE_APPLICATION_CREDENTIALS is not set, and gcloud auth application-default login has been run and quota project has been added to ADC)
  2. Run the

[2021-07-22 19:18] busunkim96 commented on #810
Tentatively triaging as `type: question`, please adjust as appropriate when you get a chance to review @arithmetic1728.

[2021-07-22 19:20] busunkim96 commented on #814
I am not sure what the latest recommendations are around the Metadata server - @arithmetic1728 @silvolu Could you take a look?

[2021-07-22 20:14] arithmetic1728 commented on #810
@busunkim96 Thanks. I will take a look.

[2021-07-22 20:37] busunkim96 commented on #815
Hi,

It looks like you're following the sample on [this page](https://cloud.google.com/bigquery/external-data-drive).

My guess is that you see a 403 because user credentials technically cannot request additional scopes after creation.

https://github.com/googleapis/google-auth-library-python/blob/ec2fb18e7f0f452fb20e43fd0bfbb788bcf7f46b/google/oauth2/credentials.py#L196-L200

Could you try passin

[2021-07-22 23:44] piyushnigam commented on #810
Are you sure you are sending it to the IAP endpoint? Can you post the HTTP request headers?

[2021-07-23 12:28] ipear3 commented on #815
Thank you for educating me, I was able to query drive data using my authorized user after specify the necessary scopes  during activation of my application default credentials. I'll answer a couple related Stackoverflow questions so your assistance helps others too.
Also, yes, using a service account I was able to successfully run the code.

Thanks again!

[2021-07-23 14:58] busunkim96 commented on #815
@ipear3 That's good to hear!

@tswast I see you've edited [that sample](https://github.com/googleapis/python-bigquery/blob/35627d145a41d57768f19d4392ef235928e00f72/samples/query_external_sheets_temporary_table.py) most recently, do you think it's worth adding clarification around auth on https://cloud.google.com/bigquery/external-data-drive?

[2021-07-23 15:17] tswast commented on #815
Yes, this is expected behavior for user credentials. It's worth updating the sample.

[2021-07-23 20:57] #804 closed

[2021-07-23 20:58] vanpelt commented on #810
Yes I'm sure I'm sending the request to the IAP endpoint.  It's clear the IAP endpoint is getting the request as it literally returns a 401 response code with a response body of: "Invalid IAP credentials: empty token".

I'm using the `AuthorizedSession` helper from this library which is setting the headers.  I monkey patched this library to print the headers for the request it is making and they a

[2021-08-03 19:26] tseaver commented on #797
@parthea I've re-opened #799, and found at least one change needed to make it run.

[2021-08-03 20:24] tseaver opened #822 "Add 'docfx' session, wire into Kokoro 'docs-presubmit' job."
While working on PR #799 (to fix #797), I discovered that there is no `docfx` session in `noxfile.py`.

I made a quick effort to copy one in, but ran into issues which seemed harder than needed to get the CI job passing, so I'm opening this issue to track.

- [ ] Copy in a `docfx` session from another repo.
- [ ] Normalize `docs/config.py` with other repo to get required changes (path setup, etc.)

[2021-08-03 20:35] #777 closed

[2021-08-09 20:18] parthea commented on #414
I'm going to close this as obsolete as python 2 is no longer supported in [setup.py](https://github.com/googleapis/google-auth-library-python/blob/master/setup.py#L57) of the default branch.

[2021-08-09 20:18] #414 closed

[2021-08-09 20:25] parthea commented on #466
I'm going to close this issue due to inactivity but please re-open this issue if you're experiencing the same problem.

[2021-08-09 20:25] #466 closed

[2021-08-09 20:28] jamestwebber commented on #466
I totally forgot about opening this issue! I haven't run into this lately.

[2021-08-09 20:49] parthea commented on #709
I'm going to close this issue as obsolete but please feel free to re-open it.

[2021-08-09 20:49] #709 closed

[2021-08-09 21:41] parthea commented on #531
I'm going to close this issue due to inactivity but please feel free to re-open it if the issue still appears.

[2021-08-09 21:41] #531 closed

[2021-08-13 16:19] dandhlee commented on #822
docfx sessions are currently only required for Google Cloud client library. While I think it's fine to leave this open for in the future when docfx expands to non-Cloud libraries as well, don't sweat on having this done anytime soon!

[2021-08-13 20:43] tseaver opened #832 "Move system tests into a separate Kokoro build"
At the moment, we run the system tests [at the end of *every* Kokoro build](https://github.com/googleapis/google-auth-library-python/blob/da8bb13c1349e771ffc2e125256030495c53d956/.kokoro/build.sh#L57-L63).  Not only should we *not* be running them during e.g. the `docs-presubmit` build, we should also run them separately from the `unit` / `cover` / `lint` sessions, so that we parallelize the long-

[2021-08-13 22:37] #797 closed

[2021-08-14 00:52] vanpelt commented on #810
I'm still stuck on this issue.  I have been able to do further debugging and it's only gotten more mysterious.  I'm able to generate ID_TOKEN credentials using the gcloud command that work with CURL but do not work with the python requests library:

[code]

It seems like IAP is rejecting the python requests based on headers or other metadata that curl is sending...

[2021-08-14 02:01] vanpelt commented on #810
I've discovered the root cause!  We write basic auth information to `~/.netrc` by default.  The requests library will use this instead of the provided Authorization header 🙃 .

The solution is to either set `trust_env = False` on a requests.Session() object, explicitly override the `auth` attribute, or make `google-auth-library-python` use `Authorization-Proxy` instead of the regular `Authorizatio

[2021-08-14 02:01] #810 closed

[2021-08-16 17:16] #832 closed

[2021-08-17 20:00] failure-checker[bot] opened #841 "Warning: a recent release failed"
The following release PRs may have failed:

* #829

[2021-08-17 20:44] busunkim96 commented on #841
This has been resolved:https://pypi.org/project/google-auth/2.0.0/

[2021-08-17 20:44] #841 closed

[2021-08-17 21:00] failure-checker[bot] opened #843 "Warning: a recent release failed"
The following release PRs may have failed:

* #829

[2021-08-17 22:37] bojeil-google opened #844 "Workload Identity Federation AWS SignatureDoesNotMatch error from Windows EC2 instance"
Customer using workload identity federation in an EC2 Windows instance is getting the following error on token exchange:
[code]

Issue is here:
https://github.com/googleapis/google-auth-library-python/blob/93482c6f019a6fd3b2a38a98636b1ee70c588ad4/google/auth/aws.py#L121

For Windows OS:
[code]

For Linux OS:
[code]

#### Environment details

  - OS: AWS Windows EC2 instance
  - Python version: All

[2021-08-17 22:57] #844 closed

[2021-08-18 16:11] busunkim96 commented on #843
Published manually after a follow-up PR to fix the version number: https://pypi.org/project/google-auth/2.0.0

[2021-08-18 16:11] #843 closed

[2021-08-20 00:18] hadim commented on #604
I noticed a similar issue in GKE with workload identity (`1.18.20-gke.501`). However, it's hard to reproduce since it works 90% of the time. It seems like the error happens when the pod is using a high number of python processes (with `joblib`). My guess is that every new python process is calling the metadata server. Is there is any way to cache the credentials for the whole pod?

For now, I will

[2021-08-20 00:26] hadim commented on #604
I am also realizing that my code uses probably too many processes and making a new call to the metadata server for each of them is likely overkill and probably add a lot of latency (explaining why my workload is much faster locally).

I guess it defeats the purpose of Workload Identity but do you think the best option in my case is to use `GOOGLE_APPLICATION_CREDENTIALS`? If yes then is there is a

[2021-08-20 18:14] #773 closed

[2021-08-20 22:36] david-wb commented on #50
Our team is dealing with this issue now. We're using Cloud-Run and generating signed urls works just fine with the Nodejs client but with the Python client we're experiencing some pain with generating signed upload urls. Would greatly appreciate if the problem was fixed.

[2021-08-26 16:06] nitishxp opened #857 "Json Error"
Lib: google-cloud-bigquery==2.23.1

Getting below errors occasionally when calling  client.delete_table(<>, not_found_ok=True)

[code]

[2021-08-30 09:29] forking-renovate[bot] opened #850 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-01 00:06] jkevingutierrez opened #851 "Errors in sign_bytes are not clear"
**Is your feature request related to a problem? Please describe.**
When there is an error in the request made in the function [sign_bytes](https://github.com/googleapis/google-auth-library-python/blob/main/google/auth/impersonated_credentials.py#L274) is not clear what the real error is. It is  just throwing  a `KeyError: 'signedBlob'`:

[code]
 **Describe the solution you'd like**
It would be gre

[2021-09-01 00:46] jkevingutierrez commented on #50
According to `constraints/iam.disableServiceAccountKeyCreation` in https://cloud.google.com/resource-manager/docs/organization-policy/org-policy-constraints the export of service account keys is not encouraged.

It would be great to have alternatives for signed urls

[2021-09-01 20:03] nicain opened #852 "chore: references to "synth tool" master branch"
During the master --> main migration, I noticed references that point to the master branch of https://github.com/googleapis/synthtool

After that repo is migrated, we will need to circle back to this repo (and potentially others) and fix these references

- [ ] noxfile.py

xref: googleapis/google-cloud-python#10579

[2021-09-01 20:05] nicain opened #853 "chore: references to "oauth2client" master branch"
During the master --> main migration, I noticed references that point to the master branch of https://github.com/googleapis/oauth2client

After that repo is migrated, we will need to circle back to this repo (and potentially others) and fix these references

- [ ] CHANGELOG.md

xref: googleapis/google-cloud-python#10579

[2021-09-02 15:26] JustinBeckwith commented on #853
Yeah no reason to go messing with archived repos. Please leave that as is.

[2021-09-02 22:04] busunkim96 commented on #769
Hey @arithmetic1728,

Re-visiting this as it recently went OOSLO. Should a quota project passed explicitly to `google.auth.default(quota_project_id="my-project")` silence the warning? Or should the project be explicitly added through `gcloud`?

https://github.com/googleapis/google-auth-library-python/blob/09e0389db72cc9d6c5dde34864cb54d717dc0b92/google/auth/_default.py#L50-L70

[2021-09-02 22:21] busunkim96 commented on #712
Looping back to this. I checked with gRPC folks on credential refresh for streams and got this response:

https://groups.google.com/g/grpc-io/c/5rOhCcqyHng

It's not immediately clear to me what suspending/pausing the container does to the client or stream... I will try to properly repro this myself following the info in the Firestore issue.

[2021-09-02 22:38] arithmetic1728 commented on #769
@busunkim96 yes, we should silence the error if the quota project id is provided via `google.auth.default(quota_project_id="my-project")`. I will write a PR to address it.

[2021-09-03 14:50] #853 closed

[2021-09-07 21:38] #769 closed

[2021-09-10 14:54] KevinGDialpad opened #865 "In fetch_id_token(), return token's expiry along with the token"
Hello,

I have opened a ticket with support, and it was suggested that I open a feature request here.

I’ve been trying to implement [App Entity using OIDC tokens](https://cloud.google.com/appengine/docs/standard/python/migrate-to-python3/migrate-app-identity). It works, but I don't have a good way to handle token expiry.

The sending app calls fetch_id_token(). In order to avoid making that call

[2021-09-10 16:52] mildsunrise commented on #160
Had the same problem. I understand it's not present in oauthlib, but this library is for google-specific auth... is there a reason this functionality should *not* be here? As you said it's easy to implement and shouldn't incur substantial maintenance cost, right?

It'd be essentially adding an instance method to `Flow` like:

[code]

[2021-09-10 21:10] busunkim96 commented on #712
Per my comments in https://github.com/googleapis/python-firestore/issues/130#issuecomment-914479063, it doesn't look like they were mid-request when the container went idle. But according to the gRPC folks, even if a stream were to go idle for a while it's not likely that the credential expiring would be an issue, since the token validation is done at the beginning of the stream.

Without more det

[2021-09-10 21:10] #712 closed

[2021-09-13 14:43] busunkim96 commented on #865
@arithmetic1728 @silvolu

[2021-09-13 17:09] arithmetic1728 commented on #865
Will add a new function to return the credential object instead of just the token.

[2021-09-15 22:10] Nishith95 commented on #814
Any update here?

[2021-10-01 22:11] busunkim96 commented on #811
Hi @ShwetanshuSingh,

Apologies for the late response. I see the code seems to be failing in `compute_engine/credentials.py`. Could you share what environment the code was being run in? Were you in a Google environment like Compute Engine, App Engine, or Functions?

[2021-10-06 15:53] Capstan commented on #50
Is this issue about adding a compute metadata URL to support blob signing directly from workloads and then adapting that into the auth library?

Rather, is there any reason not to just adapt the code to add a specific call to the IAM Credentials API using the provided Auth tokens that already exist in the metadata? Is the expected problem that customers' Workload Identity service accounts might no

[2021-10-06 16:27] Capstan commented on #50
Leaving a breadcrumb for googleapis/google-cloud-python#922, since it was duped to googleapis/google-auth-library-python#92 which was then duped to this.

[2021-10-06 16:28] Capstan commented on #238
This seems related to googleapis/google-cloud-python#922 duped (eventually) to #50.

[2021-10-07 19:22] kloczek opened #887 "2.3.0: pytest is failing because missing modules"
I'm trying to package your module as an rpm package. So I'm using the typical build, install and test cycle used on building packages from non-root account.
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>

Lokks like pytest is failin because missinhg modules.
[code]
- `google.cloud` sdist archive h

[2021-10-12 10:28] kloczek commented on #887
That is the issue that nox the same as tox perform tests against fixed set of modumes which blocks automatically using pytest extensions.

[2021-10-15 16:38] busunkim96 commented on #887
@kloczek I just tried creating a new virtualenv, installing the test dependencies, and running the tests with `pytest tests` directly. The tests all passed the results appeared to be the same as running through `nox`..

With regards to listing test dependencies, I found `tests_require` is deprecated according to [setuptools](https://setuptools.pypa.io/en/latest/userguide/dependency_management.html

[2021-10-15 19:16] taers232c opened #889 "ValueError: Token used too early errors"
- OS: Various
  - Python version: 3.9.7/3.10.0
  - `google-auth` version: 2.3.0

I'm the author of Advanced GAM: https://github.com/taers232c/GAMADV-XTD3

Changes in V2.1.0. Improve handling of clock skew (#858) (45c4491)
now cause the following error on a sporadic but annoying basis.
Previously, there was a clock skew allowance of 10 seconds. now it's 0.

File "init.py", line 3904, in _getValueFr

[2021-10-19 08:27] cometta opened #893 "create key for service account"
``` service.projects().serviceAccounts().keys().create(..) ``` . Is there anyway to specify the expiry date for the key? does this able to output a json file?

[2021-10-19 17:10] busunkim96 commented on #887
Closing the issue as I believe the original question has been addressed, but please let me know if you have additional concerns @kloczek.

[2021-10-19 17:10] #887 closed, assigned to busunkim96

[2021-10-20 23:34] cometta commented on #893
Hello @arithmetic1728 the module i plan to use is "from google.oauth2 import service_account" , i got info from this guide
https://cloud.google.com/iam/docs/creating-managing-service-account-keys#iam-service-account-keys-create-python

[2021-10-21 08:55] arithmetic1728 commented on #893
@cometta `service.projects().serviceAccounts().keys().create(..)` is the `iam` API call to create service account keys, it comes from the `googleapiclient.discovery` module, not `google.oauth2` module. Let me rewrite the sample so it can be clear to you what each module does.

[code]

I am not familiar with IAM API, but you can check the following link to see more details on how to use this API: h

[2021-10-21 22:55] jay0lee commented on #889
If this is indeed a P1 issue shouldn't we revert and re-release until we can figure out what happened?

It's strange because #862 was meant to *relax* the clock skew sensitivity and ended up doing the opposite.

[2021-10-26 14:08] jacek-jablonski opened #899 "KeyError when trying to use IDTokenCredentials"
#### Environment details

  - OS: MacOS / Ubuntu
  - Python version: 3.8.12
  - pip version: 20.3.1
  - `google-auth` version: 2.3.1

#### Steps to reproduce
Hi,
below code used to work about a month ago with google-auth 1.32.0. Now, it does work neither with 1.32.0 nor with 2.3.1. Did something change in server responses?

[code]

results in:

[code]

Thanks!

[2021-10-27 07:51] #899 closed, assigned to arithmetic1728

[2021-10-28 16:24] jgriffith-cp opened #902 "cryptography int_from_bytes is deprecated"
Error: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead

https://github.com/googleapis/google-auth-library-python/blob/77d7f1b6c4bfde594e58bd67891633fc3e9515c2/google/auth/crypt/es256.py#L56

#### Environment details

  - OS: Ubuntu 20.04.3
  - Python version: 3.8.10
  - pip version: 20.0.2
  - `google-auth` version: 2.3.2

#### Steps to reproduce

  1. inst

[2021-10-29 18:59] #865 closed

[2021-10-31 12:32] #893 closed

[2021-10-31 12:32] cometta commented on #893
thank you for clarrification

[2021-11-01 15:21] liuchaoren commented on #762
@MadJlzz sorry for the late response! Yes, please see https://github.com/googleapis/google-auth-library-python/blob/main/CONTRIBUTING.rst for how to contribute to the repo.

[2021-11-01 17:22] #902 closed

[2021-11-01 20:10] #851 closed

[2021-11-07 02:27] tstodden opened #910 "_aiohttp_requests.AuthorizedSession is not decompressing Google Drive API response"
#### Environment details

  - OS: Arch Linux
  - Python version: 3.10.0
  - pip version: 21.2.4
  - `google-auth` version: 2.3.3

#### Steps to reproduce

  1. Create a service account and generate a JSON key for it
  2. Create a `google.oauth2._service_account_async.Credentials` instance with the scope https://www.googleapis.com/auth/drive.metadata.readonly
  3. Create a `google.auth.transport._a

[2021-11-08 19:40] tseaver opened #912 "Push `cryptography` more strongly"
At the moment, many-many users of `google-auth` end up using the slower (and with security holes for some) `rsa`, rather than `cryptography`, not because they *can't* install `cryptography`, but because they don't know they are supposed to.  We should at a minimum have an `extra` for it in `setup.py`, and mention it more frequently and forcefully in the docs (including `README.md`).

Unlike Debian

[2021-11-09 17:07] #595 closed

[2021-11-09 17:28] #636 closed

[2021-11-10 00:28] busunkim96 commented on #910
Hi @tstodden,

That looks like a reasonable approach given the current code - I get similar results with the following code snippet constructed from your reproduction steps:

[code]

I'm not sure if the intent was that the additional manual wrapping would be required. I'll take a closer look at the history of the aiohttp transport  and get back to you.

[2021-11-12 12:59] DBCerigo commented on #762
Is not supporting `impersonated_service_account` a regression? I'm quite sure that we were using service account impersonation with python clients back in August 2020 (ref: https://stackoverflow.com/questions/69412702/how-to-manage-google-cloud-credentials-for-local-development/69417606)

[2021-11-12 19:59] MadJlzz commented on #762
@DBCerigo What I am sure is that you can use it directly from the code (like in my SO thread) but not from the default ADC

[2021-11-13 11:34] MadJlzz commented on #762
I made a PR with a first implementation that works where we can discuss around.

[2021-11-18 14:41] tseaver opened #920 "Intersphinx URL for 'requests-oauthlib' now 404s"
From [this failed build](https://source.cloud.google.com/results/invocations/56d76e91-941f-45a5-b4e4-6b74a9e86461/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fgoogle-auth-library-python%2Fpresubmit%2Fpresubmit/log):

[code]

I have no idea why they would yank the `stable` docs version. The only versions I can see today for the [`requests-oauthlib` docs](https://requests-oauthlib

[2021-11-18 15:10] #920 closed

[2021-11-19 02:41] Ark-kun opened #924 "The auth.default() does not pick up the correct user project when running on Vertex Pipelines or CustomJobs"
Usually the Vertex SDK gets the project ID automatically (by calling `google.auth.default()`). This works when running on GKE, GCE, Kubeflow Pipelines etc.

However when running on  Google Cloud Vertex Pipelines or Vertex Training CustomJobs, the detected project is not the user project and is not usable.

This leads to failure when trying to create any resource in the project:

Here `gbd40bc90c78

[2021-12-01 18:15] tseaver commented on #811
@ShwetanshuSingh The traceback indicates that `info` is a string, rather than the expected `dict`.  Digging down, `_metadata.get_service_account_info` calls `_metadata.get`, which only returns a string if the metadata server returns a non-JSON response (which should never happen).

[2021-12-02 09:40] sloev commented on #762
thanks for doing some work on this @MadJlzz
coming from AWS, (which has STS for temporary credentials), i must say google is quite inferior on this point.
Its a necessity to be able to run my code locally as a service account in order to develop the strict and narrow permissions my program needs once deployed.

the `gcloud auth application-default login --impersonate-service-account=[SA EMAIL]` is

[2021-12-12 01:21] Latanya541 opened #926 "Blob"
https://github.com/Latanya541/docs/blob/main/server.js

[2021-12-12 22:08] azhuravlev1 commented on #489
I have google-auth Version: 2.3.3 and I still get this error:

[2021-12-13 10:50] k0ral opened #927 "Ungraceful error `None could not be converted to unicode`"
#### Environment details

- OS: Ubuntu 18.04.5 LTS, running docker image based on Ubuntu 20.04
- Python version: 3.7.1
- pip version: 19.0.3
- `google-auth` version: 1.35.0
- `google-cloud-bigtable` version: 1.7.0
- `google-cloud-storage` version: 1.42.3
- `google-cloud-pubsub` version: 2.8.0

#### Error

[code]

This is essentially the same error as described in [this StackOverflow question](http

[2021-12-13 11:41] #926 closed

[2021-12-15 00:22] MadJlzz commented on #762
Hey @sloev, thanks for your message. I was out from some time and was stuck with the environment I was working (Windows)
Wasn't able to run all unit tests because spme are using `os` and not `pathlib` if I remind correctly. I will try to move forward on this issue to have a fix asap.

[2021-12-15 22:17] tswast commented on #431
Note: a search for "google auth python" still shows readthedocs as the top link:

![image](https://user-images.githubusercontent.com/247555/146273584-6fd442c1-bf92-4b78-92c9-110775979b5f.png)

[2021-12-20 12:37] salrashid123 opened #929 "PubSub client does not read domain delegated credentials"
Credentials that are enabled for domain delegation is ignored with google-cloud-Pubsub (and possibly other gRPC based service clients).

THis is a relatively rare usecase but consider the snippet below.

the service account in question is enalbed by thw workspace admin to do domain_delegation over the scopes proved.   The svc account assumes the identity of `user1@domain` and the credentials objec

[2021-12-20 12:40] salrashid123 commented on #580
`google.auth.impersonated_credentials` is used to assume the identity of a service account (not domain user).  for the latter, it uses domain delegation.

if you have a service account that is enabled for domain delegation with the correct scope set in the workspace admin console, the snippet is something like this

[code]

see[ domain delegation](https://google-auth.readthedocs.io/en/master/refer

[2021-12-21 12:40] parthea commented on #929
Hi @salrashid123,

Thanks for reporting this issue. I've labeled this as a feature request based on the comment in #580  :

[code]

@arithmetic1728 Please could you take a look?

[2021-12-21 14:24] salrashid123 opened #930 "Allow google.auth.impersonated_credentials ability to domain-delegate"
This is a really rare usecase but filing it for the record and api surface parity with golang.

in some usecases, i would like to impersonate a service account **AND** use that service account to assume the identity of a Google Workspace User (and then use some api on behalf of that user)

Currently ` google.auth.impersonated_credentials` fulfils the first phase:

`user_1 --> impersonate(svc_accou

[2021-12-21 14:25] salrashid123 commented on #929
sorry, i think i added in some confusion by adding the other reference.

I do think this issue is a bug where the `pubsub` client's handling of the delegated credentials is reset.

`serviceAccount_A -> impersonate(user_2) -> access pubsub (as user_2)`

this flow works for GCS but not pubsub.

---

i filed the actual feature request from the comment in 580 here https://github.com/googleapis/google-

[2021-12-21 14:36] salrashid123 opened #931 "Allow StaticCredential for google-auth-python"
The now deprecated oauth2client library allowed for a static credential source

https://oauth2client.readthedocs.io/en/latest/source/oauth2client.client.html

with that, i could 'just embed' an `access_token` i may have acquired by any other means (eg downscoped_token, from hashicorp vault, etc)  then used that with a client library (eg into gcs or pubsub).   Its non-refreshable but thats ok.

[co

[2021-12-21 19:03] salrashid123 commented on #930
ok, here are two snippets.

In the first one, i'm using `impersonated_credentials` to sign a JWT as the service account, then exchange that jwt with google for the target users's `access_token`.   This FR is to somehow make it easier to do these step  (agian, this is a pretty specific usecase...)

* https://gist.github.com/salrashid123/e44944de52ede6dff86dc40a484a06d2#file-main-py-L98

for referen

[2021-12-27 08:07] naorlivne opened #934 "new cachetools version (5.0.0+) can't work with google-auth"
`cachetools` has released a new version (5.0.0) which conflicts with google-auth requirements of it being <5, this prevents updates to the `cachetools` package and pose a potential security concern (as updates are no longer possible to it)

[code]

issue seems in https://github.com/googleapis/google-auth-library-python/blob/3c3fbf40b07e090f2be7fac5b304dbf438b5cd6c/setup.py#L23

#### Environment de

[2021-12-30 06:59] nandanrao opened #935 "Identity pool credentials and domain-wide delegation"
I have a `identity_pool.Credentials` object that works great, achieved via identity federation, but I need a `service_account.Credentials` object which contains the logic for impersonating a user via domain-wide delegation.

This seems like a reasonable problem and I can't find documentation anywhere, so not sure if it's possible. Should be related to https://github.com/googleapis/google-auth-libr

[2021-12-30 08:41] Zaffer opened #936 "Workload Identity Federation from local machine"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
I would like to use Workload Identity Federation to auth

[2021-12-30 14:22] salrashid123 commented on #931
ok, found it through [google.oauth2.credentials.Credentials](https://google-auth.readthedocs.io/en/stable/reference/google.oauth2.credentials.html#google.oauth2.credentials.Credentials)

[code]

Would be fine to close this out...my 2c is to call this out somewhere in the main docs (wasn't clear to me how to achieve this)..

Using a static credential/token is pretty relevant when using services tha

[2021-12-30 16:15] busunkim96 commented on #934
Thanks for the heads up @naorlivne! I've opened a draft PR with updated pins on cachetools (#937).

[2021-12-30 16:30] busunkim96 commented on #930
@arithmetic1728 @silvolu Please take a look.

[2021-12-30 17:08] busunkim96 commented on #935
Hi @nandanrao,

After reading over #930 and https://cloud.google.com/architecture/identity/best-practices-for-federating#limit_the_number_of_service_users_in_g_suite_and_cloud_identity I don't believe this is possible at the moment. @arithmetic1728 PTAL when you get the chance.

[2021-12-30 17:43] busunkim96 commented on #936
Hi @Zaffer,

https://github.com/google-github-actions/auth is a published GitHub Action for authenticating with Workload Identity Federation. It takes care of fetching a token and setting up the environment so Google client libraries can make use of the credential.

We typically recommend you write your code to take advantage of "Application Default Credentials" which will detect credentials depen

[2022-01-12 17:23] ktdreyer opened #941 "require cryptography in packaging metadata (and remove rsa)"
In https://github.com/googleapis/google-auth-library-python/pull/185 , `google-auth` now uses Python's [cryptography](https://pypi.org/project/cryptography/) library if it's available.

The `cryptography` library is faster and better-maintained than [python-rsa](https://pypi.org/project/rsa).

Recently the `rsa` library had a security bug, and it took a long time to ship an update https://github.c

[2022-01-12 17:30] ktdreyer commented on #941
(CC @jmontleon FYI, since you're packaging `google-auth` in Fedora)

[2022-01-12 18:16] jmontleon commented on #941
Thanks for the heads up. Is there a minimum version required? It looks like in Fedora 35 we have `python3-cryptography-35.0.0-2.fc35.x86_64`, Fedora 34 `python-cryptography-3.4.6-1.fc34`, and in EL8 and EL9, which I've also been trying to keep up to date, we have `python3-cryptography-3.2.1-5.el8.x86_64` and `python3-cryptography-3.4.7-5.el9.x86_64`.

[2022-01-13 17:13] ktdreyer commented on #941
The `cryptography` backend went into `google-auth-1.4.0`, tagged Feb 08, 2018.

At that time, the latest `cryptography` release was `2.1.4`. So we should be fine for Fedora and EPEL.

[2022-01-16 12:24] Sshuichi opened #944 "'Credentials' object has no attribute 'request'"
I built my callback on my Django view as follows:

[code]
flow.credentials looks good to me, but I don't know where I'm mistaking..
#### Environment details

  - OS: OSX
  - Python version: 3.8.6
  - pip version: 21.3.1
  - `google-auth` version: 2.3.3

#### Steps to reproduce

  1. Run the callback

Making sure to follow these steps will guarantee the quickest resolution possible.

Thanks!

[2022-01-16 16:04] syrkuit commented on #927
**Reproduction script:**

[code]

This is with Python 3.9.9 and the following modules installed:

[code]

This is the error:

[code]

**Notes:**

*  **it does not happen if you use a single subscription, you need (at least?) 2**
*  the error is not fatal, it retries and things work. It's just annoying noise.
*  it happens regularly (not just on startup), probably whenever it needs to reconnect

no

[2022-01-18 15:12] liuchaoren commented on #762
Hi @MadJlzz we noticed some some issues which are blocked by this one. Do you think it is possible to fix this issue in one week. I am happy to take it over if it is not feasible. Thanks!

[2022-01-19 22:18] MadJlzz commented on #762
Hi @liuchaoren. I don't think I have experience enough with the way your testing this project finish this in one week. Also the PR is waiting your review for the next milestone I have to achieve (which should be covering the new section of the code)
Happy to let you finish if you guys need to be quick on this one.

[2022-01-20 20:46] #934 closed

[2022-01-20 22:56] gnossen opened #952 "Mandatory urllib3 dependency introduced without declaration by 2.4.0 release"
@arithmetic1728 I think https://github.com/googleapis/google-auth-library-python/pull/948 may have broken the 2.4.0 release. `google-auth` [does not declare a dependency on `urllib3`](https://github.com/googleapis/google-auth-library-python/blob/88580b441fc20e9677433e1d01f07a466317df61/setup.py#L22). `grpcio` is seeing this issue in CI:

[code]

[2022-01-20 23:07] gnossen commented on #952
@arithmetic1728 @parthea

[2022-01-20 23:57] parthea opened #954 "Add an environment that tests code against required dependencies only"
There was a bug introduced in https://github.com/googleapis/google-auth-library-python/pull/953 where `urllib3` was introduced as a dependency without being declared in setup.py [here](https://github.com/googleapis/google-auth-library-python/blob/main/setup.py#L22). This results in `ModuleNotFoundError: No module named 'urllib3'` in environments where the `urllib3` package is not installed. Unfort

[2022-01-20 23:58] busunkim96 commented on #952
Thank you for the report @gnossen! @arithmetic1728 has yanked the 2.4.0 release from PyPI and #953 should fix the issue in the next release.

[2022-01-20 23:59] busunkim96 commented on #952
@arithmetic1728 I think it's worth keeping this open after #953 to figure out how the tests need to be modified to be catch this type of issue.

[2022-01-21 00:38] arithmetic1728 commented on #952
keep it open until we find out how to test it properly

[2022-01-21 21:45] liuchaoren commented on #762
@MadJlzz Thank you for your contribution! I am happy to pick it up from what you have. I will send a PR on the coming Monday.

[2022-01-26 01:00] failure-checker[bot] opened #961 "Warning: a recent release failed"
The following release PRs may have failed:

* #960

[2022-01-27 17:24] liuchaoren commented on #762
It seems that the scopes are not passed successfully to the impersonated credentials by the default() function. I think we should change the impersonated credentials to inherit the Scoped base class so that the default() can add scopes correctly to it. I will reopen it and will follow up with a PR to fix it.

[2022-01-28 22:00] #961 closed

[2022-01-29 01:10] #762 closed

[2022-02-01 20:27] arithmetic1728 commented on #644
closing the issue since there is a solution

[2022-02-01 20:27] #644 closed

[2022-02-01 20:35] arithmetic1728 commented on #935
I don't think domain wide delegation is supported for impersonation at the moment. Closing the issue.

[2022-02-01 20:35] #935 closed

[2022-02-07 20:47] meredithslota commented on #344
Closing this issue; see comments in the linked closed PRs for additional context, and see https://github.com/googleapis/google-auth-library-python/blob/main/google/auth/compute_engine/credentials.py#L216 for the implemented changes.

[2022-02-07 20:47] #344 closed

[2022-02-07 22:43] mhroth272 commented on #944
@Sshuichi I discovered in my own code that passing credentials without the explicit ```credentials=``` flag resulted in the same error that you see. Once I added it, my code ran fine.

Suggested fix to your code:
[code]

[2022-02-08 21:19] steven-cutting opened #977 "_helpers.utcnow() return not timezone aware"
https://github.com/googleapis/google-auth-library-python/blob/c6e72871e0ed15693aee903d56a3fb1b72f4b87f/google/auth/_helpers.py#L69

Is there a reason why `_helpers.utcnow()` does not return a timezone aware datetime object?

From the users perspective, without diving into the code, it's not clear on upstream objects (e.g. `Credentials.expiry`) if a datetime is local or utc.

[2022-02-08 22:16] meredithslota commented on #181
Hi folks — thanks for filing this. The code samples for the Gmail API (and the code samples embedded in developers.google.com that are being referenced here) are sourced from another repo and a duplicate issue (re: replacing oauth2client with google-auth in the samples) already exists. I don't have the necessary permissions to move this issue there, but the duplicate issue is https://github.com/go

[2022-02-08 22:16] #181 closed

[2022-02-09 23:01] failure-checker[bot] opened #979 "Warning: a recent release failed"
The following release PRs may have failed:

* #973

[2022-02-15 20:00] TimurSadykov opened #980 "Update automatic retries and Implement Retryable interface for token endpoint requests"
Current implementation of automatic retries to token endpoint does not follow Auth service guidelines. In addition, clients do not have a good way to distinguish retryable errors and implement custom retry strategies. Sometimes this causes infinite retries like here: https://github.com/nwbirnie/gapic-oauth-invalid-hangs

More details in the doc: go/auth-correct-retry

Please prioritize the fix if

[2022-02-16 14:05] atrigent opened #981 "Please remove this library's dependency on the gcloud command line tool"
https://github.com/googleapis/google-auth-library-python/blob/fffe3d01c4b397603639322bbd0ba062c03dacb7/google/auth/_cloud_sdk.py#L34-L40

What exactly is the point of having a library if you're just going to resort to running a command-line tool in a subprocess whenever it suits you?

[2022-02-22 10:48] arugifa commented on #927
I confirm that I also have the same problem. Manually loading JSON tokens, as mentioned on [Stackoverflow](https://stackoverflow.com/a/70882914), didn't help.

Similar to what @syrkuit mentioned, it fails when having multiple subscriptions, but also topics.

In my case, I get the error when running contract tests as part of a test suite (i.e., I have fake clients simulating the behavior of officia

[2022-02-23 09:50] AndreaGiardini commented on #590
@arithmetic1728 I stumbled upon this issue recently. Any plan to add support for user credentials? Or pointer in the right direction?

[2022-02-23 22:01] failure-checker[bot] opened #987 "Warning: a recent release failed"
The following release PRs may have failed:

* #973

[2022-03-04 02:14] Ark-kun commented on #715
I think I was running the code locally (on CloudTop).

[2022-03-09 20:00] #987 closed

[2022-03-15 22:04] adriangb commented on #50
Another +1 for this getting resolved as soon as possible, for the many valid reasons stated above. I'll just add that I've done this before in AWS and it was seamless, I was surprised to find out all of the hoops I'm going to have to jump through in GCP 😞 .

[2022-03-16 02:00] failure-checker[bot] opened #993 "Warning: a recent release failed"
The following release PRs may have failed:

* #992
* #973

[2022-03-23 11:41] jesuisme opened #996 "Sample file for GoogleDocs API still uses deprecated oauth2client module"
Raising this issue per the instructions at https://google-auth.readthedocs.io/en/master/oauth2client-deprecation.html :

Please update the GoogleDocs API v1 Python sample for extracting text from a document:
https://developers.google.com/docs/api/samples/extract-text?authuser=1

It still uses the deprecated oauth2client module rather than google-auth

Python: 3.8.3
OS: Windows 11

[2022-03-29 03:42] aebrahim opened #998 "Fails to detect service account from cloud run with auth.default()"
`creds, _ = google.auth.default(); print(creds.service_account_email)` yields `default`

#### Environment details

  - OS: python:3.10-slim dockerfile (Debian GNU/Linux 11 (bullseye))
  - Python version: 3.10.4
  - pip version: 22.0.4
  - `google-auth` version: 2.6.2

#### Steps to reproduce

  1. Modify the helloworld cloudrun [example](https://github.com/GoogleCloudPlatform/python-docs-samples/b

[2022-03-30 17:56] mist3rGP opened #999 "facing issues while generating new access token using refresh token"
#### Environment details

  - OS: Win 10
  - Python version:
  - pip version:
  - `google-auth` version: 2.6.2

#### Steps to reproduce

  1. Generate access token and refresh token. Wait for token to expire. Have logic to check validity of token. Refresh token with refresh token
  2. It will throw this error: "google.auth.exceptions.RefreshError: ('invalid_scope: Some requested scopes were invali

[2022-03-30 19:49] arithmetic1728 commented on #980
assigning to Timur to prioritize the work